<a target="_blank" href="https://colab.research.google.com/github/vnstock-hq/vnstock_insider_guide/blob/main/demo/1_1_vnstock_data_explorer_v2_wrapper.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

# I. Cài đặt thư viện

In [ ]:
# Sao chép mã nguồn từ GitHub về Google Colab
!git clone https://github.com/vnstock-hq/vnstock_insider_guide
# Chuyển đến thư mục vừa clone
%cd /content/vnstock_insider_guide/oneclick_installer
# Trao quyền thực thi cho file
!chmod +x linux_installer.run
# Chạy trình cài đặt
!./linux_installer.run

**Lưu ý: Bạn cần khởi động lại phiên làm việc sau khi cài đặt trên Google Colab**

![restar session](http://vnstocks.com/images/khoi-dong-lai-phien-lam-viec-colab.png)

# Initialization

In [ ]:
# Cell 1: imports & setup
from IPython.display import display
from vnstock_data import Quote, Trading, Finance, Listing, Company, CommodityPrice, Macro

# Quote

In [ ]:
# Cell 2: Test Quote adapter
print("=== Quote.history ===")
q = Quote(source="vci", symbol="VCI", random_agent=False, show_log=False)
df_hist = q.history(start="2024-02-01", end="2025-04-18", interval="1D")
display(df_hist.head())

print("\n=== Quote.intraday ===")
df_intraday = q.intraday(page_size=10)
display(df_intraday.head())

print("\n=== Quote.price_depth ===")
df_depth = q.price_depth()
display(df_depth.head())

=== Quote.history ===

        time   open   high    low  close   volume
0 2024-02-01  32.55  32.74  32.40  32.74  5200968
1 2024-02-02  33.08  33.49  33.04  33.12  9591553
2 2024-02-05  33.31  33.46  33.00  33.23  5832826
3 2024-02-06  33.42  34.40  33.34  33.91  7012133
4 2024-02-07  34.06  34.40  33.87  34.14  4952803

=== Quote.intraday ===

                       time    price  volume match_type         id
0 2025-04-18 14:29:53+07:00  38000.0     700        Buy  290088858
1 2025-04-18 14:29:53+07:00  38000.0    1300        Buy  290088857
2 2025-04-18 14:29:58+07:00  38000.0     200        Buy  290089250
3 2025-04-18 14:29:58+07:00  38000.0     300        Buy  290089249
4 2025-04-18 14:30:00+07:00  37950.0    1000       Sell  290089453

=== Quote.price_depth ===

   price  volume buy_volume sell_volume undefined_volume
0  38650    3700       3700           0                0
1  38600  354000     272800       81200                0
2  38550  181300      69900      111400                0
3  38500  512000     430000       82000                0
4  38450  130000      48800       81200                0

# Trading

In [ ]:
# Cell 3: Test Trading adapter
print("=== Trading.trading_stats ===")
t = Trading(source="vci", symbol="VCI", random_agent=False, show_log=False)
df_stats = t.trading_stats(start="2024-01-01", end="2024-03-31", limit=100)
display(df_stats.head())

print("\n=== Trading.side_stats ===")
bids_asks = t.side_stats(dropna=True)
print(bids_asks)

# print("\n=== Trading.price_board ===")
# board = t.price_board(symbols_list=["VCI","VCB"])
# display(board.head())

=== Trading.trading_stats ===

,time,ceiling_price,floor_price,reference_price,open_price,close_price,match_price,price_change,percent_price_change,highest_price,...,open_price_adjusted,close_price_adjusted,percent_price_change_adjusted,highest_price_adjusted,lowest_price_adjusted,unmatched_buy_trade_volume,unmatched_sell_trade_volume,dif_volume_buy_sell,average_volume_buy_order,average_volume_sell_order
0,2024-01-02,45700,39800,42750,43000,42300,42300,-450,-0.010526,43000,...,43000,42300,-0.010526,43000,42050,5184832,5773498,-588666,2527.235330,4431.681725
1,2024-01-03,45250,39350,42300,42200,42700,42700,400,0.009456,42700,...,42200,42700,0.009456,42700,41800,4482511,4224870,257641,2198.341210,3502.067655
2,2024-01-04,45650,39750,42700,42800,42450,42450,-250,-0.005855,43650,...,42800,42450,-0.005855,43650,42450,5818887,10441793,-4622906,3503.660643,2699.434488
3,2024-01-05,45400,39500,42450,42600,42500,42500,50,0.001178,42700,...,42600,42500,0.001178,42700,42150,4413998,3891915,522083,2603.234439,2839.276674
4,2024-01-08,45450,39550,42500,42750,42700,42700,200,0.004706,43300,...,42750,42700,0.004706,43300,42650,3243219,6400919,-3157700,2373.579916,2971.070681

=== Trading.side_stats ===
({'code': '3849', 'symbol': 'VCI', 'ceiling': 40200, 'floor': 35000, 'refPrice': 37600, 'stockType': 'STOCK', 'board': 'HSX', 'exercisePrice': 0, 'exerciseRatio': '', 'maturityDate': '', 'lastTradingDate': '', 'underlyingSymbol': '', 'issuerName': '', 'listedShare': 718099480, 'receivedTime': '2025-04-18T07:45:03.615Z', 'messageType': 'SS', 'type': 'STOCK', 'id': 8424585, 'enOrganName': 'Vietcap Securities Joint Stock Company', 'enOrganShortName': 'Vietcap Securities', 'organName': 'Công ty Cổ phần Chứng khoán Vietcap', 'organShortName': 'Chứng khoán Vietcap', 'ticker': 'VCI', 'priorClosePrice': 37600, 'benefit': '', 'tradingDate': '2025-04-18'}, {'code': '3849', 'symbol': 'VCI', 'session': 'ENDED', 'bidPrices': [{'price': 37050, 'volume': 65300}, {'price': 37000, 'volume': 107300}, {'price': 36950, 'volume': 33300}], 'receivedTime': '2025-04-18T07:45:04.307Z', 'messageType': 'TP', 'askPrices': [{'price': 37150, 'volume': 1000}, {'price': 37400, 'volume': 1000}, {'price': 37500, 'volume': 27000}], 'time': '2025-04-18T00:30:05.000000Z'}, {'code': '3849', 'symbol': 'VCI', 'matchPrice': 37050, 'matchVol': 1663300, 'receivedTime': '2025-04-18T07:45:04.343Z', 'messageType': 'TR', 'accumulatedVolume': 12113100, 'accumulatedValue': 459573, 'avgMatchPrice': 37940.163954726704, 'highest': 38650, 'lowest': 37050, 'time': '2025-04-18T07:45:03.000Z', 'session': 'ENDED', 'matchType': 'unknown', 'foreignSellVolume': 878400, 'foreignBuyVolume': 2215800, 'currentRoom': 498376046, 'totalRoom': 718099480, 'totalAccumulatedValue': 459573.040000001, 'totalAccumulatedVolume': 121131, 'referencePrice': 37600})

# Insight

In [ ]:
from vnstock_data import TopStock

top = TopStock(source="vnd")
top.gainer(index="VNINDEX", limit=10)

,symbol,index,last_price,last_updated,price_change_1d,price_change_pct_1d,accumulated_value,avg_volume_20d,volume_spike_20d_pct,total_volume_avg_20d,deal_volume_spike_20d_pct,deal_volume_spike_5d_20d_pct,deal_volume_sum_5d,deal_value_avg_5d,deal_volume_avg_5d
0,SMC,VNINDEX,8.15,2025-04-18 15:59,0.53,6.955381,1.802876e+10,1099500.0,203.947249,1099500.00,0.000000,0.000000,0.0,0.0,0.0
1,TMT,VNINDEX,11.55,2025-04-18 15:59,0.75,6.944444,2.271450e+08,28445.0,69.256460,28445.00,0.000000,0.000000,0.0,0.0,0.0
2,CIG,VNINDEX,7.41,2025-04-18 15:59,0.48,6.926407,2.631974e+09,401095.0,90.651841,442765.00,0.000000,0.000000,0.0,0.0,0.0
3,GIL,VNINDEX,15.55,2025-04-18 15:59,1.00,6.872852,4.543710e+09,546370.0,53.480242,546370.00,0.000000,0.000000,0.0,0.0,0.0
4,TDH,VNINDEX,3.29,2025-04-18 15:59,0.21,6.818182,5.840421e+09,374575.0,474.884870,374575.00,0.000000,0.000000,0.0,0.0,0.0
5,VNL,VNINDEX,19.80,2025-04-18 15:59,1.25,6.738544,5.398500e+08,19110.0,143.380429,19110.00,0.000000,0.000000,0.0,0.0,0.0
6,AGM,VNINDEX,1.59,2025-04-18 15:59,0.10,6.711409,1.053738e+09,228695.0,323.268983,228695.00,0.000000,0.000000,0.0,0.0,0.0
7,SHB,VNINDEX,12.85,2025-04-18 15:59,0.80,6.639004,1.993049e+12,66882655.0,233.737282,70771053.85,0.240211,0.048042,170000.0,430500000.0,34000.0
8,EVG,VNINDEX,6.00,2025-04-18 15:59,0.34,6.007067,1.401838e+10,1229285.0,190.281342,1229285.00,0.000000,0.000000,0.0,0.0,0.0
9,CRC,VNINDEX,8.62,2025-04-18 15:59,0.47,5.766871,6.652595e+09,513200.0,154.949337,513200.00,0.000000,0.000000,0.0,0.0,0.0

In [ ]:
top.loser(index="VNINDEX", limit=10)

,symbol,index,last_price,last_updated,price_change_1d,price_change_pct_1d,accumulated_value,avg_volume_20d,volume_spike_20d_pct,total_volume_avg_20d,deal_volume_spike_20d_pct,deal_volume_spike_5d_20d_pct,deal_volume_sum_5d,deal_value_avg_5d,deal_volume_avg_5d
0,BCG,VNINDEX,2.93,2025-04-18 15:59,-0.22,-6.984127,5.392905e+10,11429030.0,156.070988,11468030.00,0.000000,0.000000,0.0,0.000000e+00,0.0
1,VIC,VNINDEX,66.10,2025-04-18 15:59,-4.90,-6.901408,7.156622e+11,9420850.0,112.152300,17980033.95,0.556172,86.907465,78129959.0,1.097585e+12,15625991.8
2,KMR,VNINDEX,2.95,2025-04-18 15:59,-0.20,-6.349206,1.790370e+08,19090.0,317.443688,19090.00,0.000000,0.000000,0.0,0.000000e+00,0.0
3,HVN,VNINDEX,31.00,2025-04-18 15:59,-1.80,-5.487805,1.778130e+11,3652005.0,150.068250,4002000.00,0.000000,13.043478,2610000.0,1.581235e+10,522000.0
4,TCD,VNINDEX,1.93,2025-04-18 15:59,-0.09,-4.455446,3.954770e+09,1275950.0,156.761629,1275950.00,0.000000,0.000000,0.0,0.000000e+00,0.0
5,BMP,VNINDEX,129.80,2025-04-18 15:59,-4.70,-3.494424,1.016975e+11,341225.0,221.935673,343595.00,0.000000,0.000000,0.0,0.000000e+00,0.0
6,VHM,VNINDEX,55.00,2025-04-18 15:59,-1.80,-3.169014,7.411533e+11,13012660.0,103.980278,16048265.00,0.000000,13.097989,10510000.0,1.135797e+11,2102000.0
7,SGR,VNINDEX,25.10,2025-04-18 15:59,-0.80,-3.088803,4.391450e+09,241630.0,70.438273,251630.00,0.000000,15.896356,200000.0,1.040000e+09,40000.0
8,CDC,VNINDEX,19.10,2025-04-18 15:59,-0.60,-3.045685,9.615900e+08,71365.0,70.622854,197085.00,0.000000,58.198239,573500.0,2.192360e+09,114700.0
9,LAF,VNINDEX,17.10,2025-04-18 15:59,-0.50,-2.840909,6.422650e+08,14980.0,255.006676,14980.00,0.000000,0.000000,0.0,0.000000e+00,0.0

In [ ]:
top.value(index='VNINDEX', limit=10)

,symbol,index,last_price,last_updated,price_change_1d,price_change_pct_1d,accumulated_value,avg_volume_20d,volume_spike_20d_pct,total_volume_avg_20d,deal_volume_spike_20d_pct,deal_volume_spike_5d_20d_pct,deal_volume_sum_5d,deal_value_avg_5d,deal_volume_avg_5d
0,SHB,VNINDEX,12.85,2025-04-18 15:59,0.80,6.639004,1.993049e+12,66882655.0,233.737282,70771053.85,0.240211,0.048042,170000.0,4.305000e+08,34000.0
1,VIX,VNINDEX,12.70,2025-04-18 15:59,0.15,1.195219,1.164011e+12,46852060.0,192.614370,49448440.00,0.000000,0.099093,245000.0,5.998000e+08,49000.0
2,FPT,VNINDEX,111.60,2025-04-18 15:59,2.20,2.010969,8.426793e+11,9548745.0,78.392501,10147896.40,9.331983,11.065347,5614500.0,1.251099e+11,1122900.0
3,GEX,VNINDEX,27.50,2025-04-18 15:59,1.20,4.562738,7.628398e+11,16173530.0,171.193920,18149380.00,5.509830,1.630910,1480000.0,7.174320e+09,296000.0
4,VHM,VNINDEX,55.00,2025-04-18 15:59,-1.80,-3.169014,7.411533e+11,13012660.0,103.980278,16048265.00,0.000000,13.097989,10510000.0,1.135797e+11,2102000.0
5,MBB,VNINDEX,23.25,2025-04-18 15:59,0.25,1.086957,7.335858e+11,31601035.0,99.879324,32920331.85,2.126346,0.492097,810000.0,3.770852e+09,162000.0
6,VIC,VNINDEX,66.10,2025-04-18 15:59,-4.90,-6.901408,7.156622e+11,9420850.0,112.152300,17980033.95,0.556172,86.907465,78129959.0,1.097585e+12,15625991.8
7,VND,VNINDEX,15.65,2025-04-18 15:59,0.25,1.623377,6.564721e+11,25233995.0,165.233844,25762205.05,0.000004,1.579834,2035001.0,6.344803e+09,407000.2
8,SSI,VNINDEX,23.35,2025-04-18 15:59,0.25,1.082251,6.207966e+11,31012295.0,84.984036,31501264.90,2.041194,2.079918,3276002.0,1.571229e+10,655200.4
9,STB,VNINDEX,38.55,2025-04-18 15:59,0.25,0.652742,5.606517e+11,19777355.0,73.009763,20566210.00,0.000000,2.382063,2449500.0,1.873268e+10,489900.0

In [ ]:
top.volume(index='VNINDEX', limit=10)

,symbol,index,last_price,last_updated,price_change_1d,price_change_pct_1d,accumulated_value,avg_volume_20d,volume_spike_20d_pct,total_volume_avg_20d,deal_volume_spike_20d_pct,deal_volume_spike_5d_20d_pct,deal_volume_sum_5d,deal_value_avg_5d,deal_volume_avg_5d
0,TDH,VNINDEX,3.29,2025-04-18 15:59,0.21,6.818182,5.840421e+09,374575.0,474.884870,374575.00,0.000000,0.000000,0.0,0.0,0.0
1,AGM,VNINDEX,1.59,2025-04-18 15:59,0.10,6.711409,1.053738e+09,228695.0,323.268983,228695.00,0.000000,0.000000,0.0,0.0,0.0
2,KMR,VNINDEX,2.95,2025-04-18 15:59,-0.20,-6.349206,1.790370e+08,19090.0,317.443688,19090.00,0.000000,0.000000,0.0,0.0,0.0
3,ACC,VNINDEX,14.25,2025-04-18 15:59,0.00,0.000000,1.068328e+10,281960.0,270.322031,281960.00,0.000000,0.000000,0.0,0.0,0.0
4,VSC,VNINDEX,17.65,2025-04-18 15:59,0.85,5.059524,9.174422e+10,1955695.0,269.924503,2543202.50,0.000000,0.000000,0.0,0.0,0.0
5,BRC,VNINDEX,12.90,2025-04-18 15:59,-0.10,-0.769231,7.110850e+08,21050.0,266.508314,21050.00,0.000000,0.000000,0.0,0.0,0.0
6,LAF,VNINDEX,17.10,2025-04-18 15:59,-0.50,-2.840909,6.422650e+08,14980.0,255.006676,14980.00,0.000000,0.000000,0.0,0.0,0.0
7,UIC,VNINDEX,37.00,2025-04-18 15:59,0.90,2.493075,1.531000e+09,16685.0,246.928379,16685.00,0.000000,0.000000,0.0,0.0,0.0
8,SHB,VNINDEX,12.85,2025-04-18 15:59,0.80,6.639004,1.993049e+12,66882655.0,233.737282,70771053.85,0.240211,0.048042,170000.0,430500000.0,34000.0
9,BMP,VNINDEX,129.80,2025-04-18 15:59,-4.70,-3.494424,1.016975e+11,341225.0,221.935673,343595.00,0.000000,0.000000,0.0,0.0,0.0

In [ ]:
top.deal(index='VNINDEX', limit=10)

,symbol,index,last_price,last_updated,price_change_1d,price_change_pct_1d,accumulated_value,avg_volume_20d,volume_spike_20d_pct,total_volume_avg_20d,deal_volume_spike_20d_pct,deal_volume_spike_5d_20d_pct,deal_volume_sum_5d,deal_value_avg_5d,deal_volume_avg_5d
0,VNS,VNINDEX,10.50,2025-04-18 15:59,0.00,0.000000,8.410000e+06,27910.0,2.866356,43604.05,443.493208,88.698642,193381.0,4.254382e+08,38676.2
1,FUESSVFL,VNINDEX,21.80,2025-04-18 15:59,0.24,1.113173,5.704770e+08,156495.0,16.613949,166295.00,117.862834,23.572567,196000.0,8.565200e+08,39200.0
2,VJC,VNINDEX,86.50,2025-04-18 15:59,-1.50,-1.704545,6.487916e+10,666425.0,111.175301,1092215.00,69.198830,50.627395,2764800.0,4.780982e+10,552960.0
3,E1VFVN30,VNINDEX,22.76,2025-04-18 15:59,0.17,0.752545,1.929825e+10,640515.0,131.722130,1768615.00,60.046986,26.144752,2312000.0,1.054360e+10,462400.0
4,OCB,VNINDEX,10.60,2025-04-18 15:59,0.10,0.952381,5.380518e+10,3802965.0,134.276808,8790840.00,53.217895,10.643579,4678300.0,9.824430e+09,935660.0
5,EIB,VNINDEX,18.95,2025-04-18 15:59,0.85,4.696133,3.103541e+11,10479555.0,156.270949,14095292.05,35.260000,16.666024,11745624.0,4.110444e+10,2349124.8
6,HDB,VNINDEX,20.80,2025-04-18 15:59,0.10,0.483092,1.555096e+11,11621735.0,64.161676,20600911.35,23.749435,28.309435,29160008.0,1.201912e+11,5832001.6
7,FUEVFVND,VNINDEX,29.19,2025-04-18 15:59,0.59,2.062937,1.164185e+10,778010.0,51.336101,1780110.00,19.212296,26.312981,2342000.0,1.346980e+10,468400.0
8,DXS,VNINDEX,6.00,2025-04-18 15:59,-0.04,-0.662252,8.778261e+09,1884965.0,76.584976,2100410.00,18.225013,40.552083,4258800.0,5.081259e+09,851760.0
9,VPI,VNINDEX,53.50,2025-04-18 15:59,-0.60,-1.109057,1.001840e+11,2057705.0,90.644675,2152705.00,17.187678,15.608270,1680000.0,1.915200e+10,336000.0

In [ ]:
top.foreign_buy(date='2024-08-16')

  symbol        date     net_value
0    MWG  2024-08-16  1.015998e+11
1    CTG  2024-08-16  6.709855e+10
2    DIG  2024-08-16  6.705117e+10
3    MSN  2024-08-16  6.318864e+10
4    VCI  2024-08-16  5.041683e+10
5    VND  2024-08-16  3.089996e+10
6    NVL  2024-08-16  3.054193e+10
7    DPM  2024-08-16  2.839805e+10
8    DGC  2024-08-16  2.769208e+10
9    FPT  2024-08-16  2.629880e+10

In [ ]:
top.foreign_sell(date='2024-08-16')

     symbol        date     net_value
0       VHM  2024-08-16 -3.136147e+11
1       HPG  2024-08-16 -1.804457e+11
2       TCB  2024-08-16 -1.083005e+11
3       HSG  2024-08-16 -5.660693e+10
4       VPB  2024-08-16 -4.944804e+10
5  FUEVFVND  2024-08-16 -3.769779e+10
6       FRT  2024-08-16 -3.130877e+10
7       HDB  2024-08-16 -2.534124e+10
8       QNS  2024-08-16 -1.809028e+10
9       NLG  2024-08-16 -1.657578e+10

# Market

In [ ]:
from vnstock_data import Market
mk = Market(source="vnd")

In [ ]:
mk.evaluation(duration='5Y')

                   pe        pb
reportDate
2020-04-21  12.608086  1.720233
2020-04-22  12.643266  1.725032
2020-04-23  12.725313  1.736227
2020-04-24  12.770647  1.742428
2020-04-27  12.674099  1.729473
...               ...       ...
2025-04-14  12.325832  1.595038
2025-04-15  12.186329  1.577515
2025-04-16  12.012701  1.555015
2025-04-17  12.080348  1.563572
2025-04-18  12.091276  1.565399

[1244 rows x 2 columns]

In [ ]:
mk.pb(duration="5Y")

                  pb
reportDate
2020-04-21  1.720233
2020-04-22  1.725032
2020-04-23  1.736227
2020-04-24  1.742428
2020-04-27  1.729473
...              ...
2025-04-14  1.595038
2025-04-15  1.577515
2025-04-16  1.555015
2025-04-17  1.563572
2025-04-18  1.565399

[1244 rows x 1 columns]

In [ ]:
mk.pe(duration="5Y")

                   pe
reportDate
2020-04-21  12.608086
2020-04-22  12.643266
2020-04-23  12.725313
2020-04-24  12.770647
2020-04-27  12.674099
...               ...
2025-04-14  12.325832
2025-04-15  12.186329
2025-04-16  12.012701
2025-04-17  12.080348
2025-04-18  12.091276

[1244 rows x 1 columns]

# Finance

In [ ]:
# Cell 4: Test Finance adapter
print("=== Finance.balance_sheet ===")
f = Finance(source="mas", symbol="VCI", period="quarter", get_all=False, show_log=False)
df_bs = f.balance_sheet(period="year", lang="en", dropna=True)
display(df_bs.head())

print("\n=== Finance.income_statement ===")
df_is = f.income_statement(lang="vi")
display(df_is.head())

print("\n=== Finance.cash_flow ===")
df_cf = f.cash_flow()
display(df_cf.head())

print("\n=== Finance.ratio ===")
df_rat = f.ratio(flatten_columns=False)
display(df_rat.head())

=== Finance.balance_sheet ===

,period,year_period,A. SHORT-TERM ASSETS,Short-term financial assets,1. Cash and cash equivalents,1.1. Cash,1.2. Cash equivalents,Short-term investments,+ Short-term investments,Provision for diminution in value of short-term investments,...,1.5. Treasury shares,2. Assets revaluation differences,4. Supplementary capital reserve,Investment and development fund,5. Financial reserves,7. Undistributed earnings after tax,7.1. Realised profits,7.2. Unrealised losses,8. Minority interest,TOTAL OWNER'S EQUITY AND LIABILITIES
0,2024,2024,26491835561026,26323154756009,4743771932745,4743771932745,None,None,None,None,...,None,2372439624636,None,None,None,796731023225,798326170747,-1595147522,None,26592124479240
1,2023,2023,17174448616966,16979554557451,787897819240,537897819240,250000000000,None,None,None,...,None,1607735798409,67496330852,None,None,1307497181080,1307134594788,362586292,None,17255134656525
2,2022,2022,14157693071824,14105852063553,3423501614803,2313501614803,1110000000000,None,None,None,...,None,1030130358576,67496330852,None,233096330852,800246141334,791426130951,8820010383,None,14242751316822
3,2021,2021,16568965942558,16415067989149,1131748599533,1131748599533,None,None,None,None,...,None,1665653687451,67496330852,None,233096330852,1241116896232,1024259038107,216857858125,None,16636264947117
4,2020,2020,8312170798945,8214643150141,642512983590,642512983590,None,None,None,None,...,None,426695337106,115757247094,None,194161910684,1543954728940,1475888629109,68066099831,None,8382405125440

=== Finance.income_statement ===

,period,1.1. Lãi từ các tài sản tài chính ghi nhận thông qua lãi/lỗ (FVTPL),a. Lãi bán các tài sản tài chính,b. Chênh lệch tăng đánh giá lại các TSTC thông qua lãi/lỗ,"c. Cổ tức, tiền lãi phát sinh từ tài sản tài chính PVTPL",d. Chênh lệch giảm do đánh giá lại phải trả chứng quyền đang lưu hành,1.2. Lãi từ các khoản đầu tư nắm giữ đến ngày đáo hạn (HTM),1.3. Lãi từ các khoản cho vay và phải thu,1.4. Lãi từ các tài sản tài chính sẵn sàng để bán (AFS),1.6. Doanh thu môi giới chứng khoán,...,X. CHI PHÍ THUẾ THU NHẬP DOANH NGHIỆP,10.1. Chi phí thuế TNDN hiện hành,10.2. Chi phí thuế TNDN hoãn lại,XI. LỢI NHUẬN KẾ TOÁN SAU THUẾ TNDN,11.1. Lợi nhuận sau thuế phân bổ cho chủ sở hữu,11.3. Lợi nhuận thuần phân bổ cho lợi ích cổ đông không kiểm soát,12.1. Lãi/(Lỗ) từ đánh giá lại các khoản đầu tư giữ đến ngày đáo hạn,12.2.Lãi/(Lỗ) từ đánh giá lại các tài sản tài chính sẵn sàng để bán,Tổng thu nhập toàn diện,13.1.Lãi cơ bản trên cổ phiếu (Đồng/1 cổ phiếu) (VNÐ)
0,2025-Q1,354620858555,353326679620,-1339866473,683285270,1950760138,11764136988,256978768490,54361710583,149076747455,...,60239238272,72883103138,-12643864866,294867782406,294867782406,None,None,-479525772682,-479525772682,None
1,2024-Q4,442927214370,437849136178,2469489776,2608588416,None,7342042968,251882660953,88924760112,184188121434,...,34958370151,35884665831,-926295680,218376745828,218376745828,None,None,62236406587,62236406587,None
2,2024-Q3,535759271261,533944641606,-432439523,2247069178,None,4790082191,206369151917,29495872511,182684256647,...,49343174067,40189361297,9153812770,215352225175,215352225175,None,None,-255060137412,-255060137412,None
3,2024-Q2,447623383804,449263881222,-6036131450,5097932535,-702298503,5048805488,234459647163,27178032146,180658362616,...,64559441640,64821621464,-262179824,279206679897,279206679897,None,None,349204878302,349204878302,None
4,2024-Q1,352304951109,338334044066,7851698521,8801592603,-2682384081,5960087666,180238198162,79404264100,182072983568,...,29784005755,37710331505,-7926325750,197756462393,197756462393,None,None,608322678750,608322678750,None

=== Finance.cash_flow ===

,period,1. Lợi nhuận trước thuế,2. Điều chỉnh cho các khoản,- Khấu hao tài sản cố định,- Các khoản lập dự phòng,"- Chi phí phải trả, chi phí trả trước","- Lãi, lỗ từ hoạt động đầu tư (đầu tư công ty con, liên doanh, liên kết)",- Chi phí lãi vay,- Dự thu tiền lãi,- Điều chỉnh cho các khoản khác,...,2. Tiền chi mua chứng khoán môi giới cho khách hàng,9. Nhận tiền gửi để thanh toán giao dịch chứng khoán của khách hàng,10. Tiền gửi ký quỹ của NĐT tại VSD,14. Chi trả phí lưu ký chứng khoán của khách hàng,Tăng/giảm tiền thuần trong kỳ,II. Tiền và các khoản tương đương tiền đầu kỳ của khách hàng,-Tiền gửi của Nhà đầu tư về giao dịch chứng khoán theo phương thức CTCK quản lý,-Tiền gửi của Nhà đầu tư về giao dịch chứng khoán theo phương thức Ngân hàng thương mại quản lý,-Tiền gửi bù trừ và thanh toán giao dịch chứng khoán,III. Tiền và các khoản tương đương tiền cuối kỳ của khách hàng
0,2025-Q1,355107020678,90805069295,3311039364,None,None,-1190000,171526241912,-84031021981,None,...,-68272101417204,8790722255667,-589618105421,-4196481836,-442770034098,2711953187920,1588759482092,None,680423671730,2269183153822
1,2024-Q4,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,2024-Q3,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,2024-Q2,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,2024-Q1,227540468148,122510589993,2355785701,None,None,None,178540652349,-58385848057,None,...,-89397589566000,4370325322374,-5708321474,-3388152470,-26998685282,2772739733406,2118890287443,None,626850760681,2745741048124

=== Finance.ratio ===

,period,Thu nhập trên mỗi cổ phần của 4 quý gần nhất (EPS),Giá trị sổ sách của cổ phiếu (BVPS),Chỉ số giá thị trường trên thu nhập (P/E),Chỉ số giá thị trường trên giá trị sổ sách (P/B),Chỉ số giá thị trường trên doanh thu thuần (P/S),Tỷ suất cổ tức,Beta,Giá trị doanh nghiệp trên lợi nhuận trước thuế và lãi vay (EV/EBIT),"Giá trị doanh nghiệp trên lợi nhuận trước thuế, khấu hao và lãi vay (EV/EBITDA)"
0,2025-Q1,1783,17519,21.49,2.19,32.32,0,1.66,0,0
1,2024-Q4,1822,18026,18.22,1.84,23.86,0.01,1.63,0,0
2,2024-Q3,1838,15044,19.97,2.44,21.64,0.01,1.75,0,0
3,2024-Q2,1780,20046,25.9,2.3,22.24,0,1.84,0,0
4,2024-Q1,1411,18691,38.13,2.88,29.19,0.01,2,0,0

# Listing

In [ ]:
# Cell 5: Test Listing adapter
print("=== Listing.all_symbols ===")
lst = Listing(source="vci", random_agent=False, show_log=False)
df_all = lst.all_symbols(to_df=True)
display(df_all.head())

print("\n=== Listing.symbols_by_exchange ===")
df_ex = lst.symbols_by_exchange(lang="en")
display(df_ex.head())

print("\n=== Listing.symbols_by_group (VN30) ===")
df_grp = lst.symbols_by_group(group="VN30")
display(df_grp.head())

print("\n=== Listing.industries_icb ===")
df_icb = lst.industries_icb()
display(df_icb.head())

=== Listing.all_symbols ===

  symbol                                         organ_name
0    YTC  Công ty Cổ phần Xuất nhập khẩu Y tế Thành phố ...
1    YEG                     Công ty Cổ phần Tập đoàn Yeah1
2    YBM     Công ty Cổ phần Khoáng sản Công nghiệp Yên Bái
3    YBC      Công ty Cổ phần Xi măng và Khoáng sản Yên Bái
4    XPH                    Công ty Cổ phần Xà phòng Hà Nội

=== Listing.symbols_by_exchange ===

,symbol,exchange,type,organ_name,organ_short_name
0,YTC,UPCOM,STOCK,Ho Chi Minh City Medical Import Export Joint S...,YTECO
1,YEG,HSX,STOCK,Yeah1 Group Corporation,Yeah1 Group
2,YBM,HSX,STOCK,Yen Bai Industry Mineral Joint Stock Company,Yen Bai Industry Mineral
3,YBC,UPCOM,STOCK,YenBai Cement and Minerals Joint Stock Company,YenBai Cement and Minerals
4,XPH,UPCOM,STOCK,Hanoi Soap Joint Stock Company,Hanoi Soap

=== Listing.symbols_by_group (VN30) ===

0    ACB
1    BCM
2    BID
3    BVH
4    CTG
Name: symbol, dtype: object

=== Listing.industries_icb ===

,icb_name,en_icb_name,icb_code,level
0,Sản xuất Dầu khí,Oil & Gas Producers,0530,3
1,"Thiết bị, Dịch vụ và Phân phối Dầu khí","Oil Equipment, Services & Distribution",0570,3
2,Hóa chất,Chemicals,1350,3
3,Lâm nghiệp và Giấy,Forestry & Paper,1730,3
4,Kim loại,Industrial Metals & Mining,1750,3

# Company

In [ ]:
# Cell 6: Test Company adapter
print("=== Company.overview ===")
c = Company(source="vci", symbol="VCI", random_agent=False, show_log=False)
df_ov = c.overview()
display(df_ov.head())

print("\n=== Company.shareholders ===")
df_sh = c.shareholders()
display(df_sh.head())

print("\n=== Company.officers ===")
df_of = c.officers(filter_by="all")
display(df_of.head())

print("\n=== Company.subsidiaries ===")
df_sub = c.subsidiaries(filter_by="all")
display(df_sub.head())

print("\n=== Company.news ===")
df_news = c.news()
display(df_news.head())

print("\n=== Company.events ===")
df_evt = c.events()
display(df_evt.head())

=== Company.overview ===

,symbol,id,issue_share,history,company_profile,icb_name3,icb_name2,icb_name4,financial_ratio_issue_share,charter_capital
0,VCI,75885,718099480,- Ngày 06/11/2007: Công ty Cổ phần Chứng khoá...,Công ty Cổ phần Chứng khoán Vietcap (VCI) được...,Dịch vụ tài chính,Dịch vụ tài chính,Môi giới chứng khoán,718099480,7180994800000

=== Company.shareholders ===

         id           share_holder   quantity  share_own_percent update_date
0  78359833                Tô  Hải  128889403            0.17950  2025-01-24
1  78358473         PYN Elite Fund    8132100            0.04910  2025-01-24
2  78349982  Nguyễn Phan Minh Khôi    7483872            0.04591  2025-01-24
3  78364733        Võ Thị Anh Quân    5500000            0.04580  2025-01-24
4  78350996        Nguyễn Thanh Tú    4536000            0.03780  2025-01-24

=== Company.officers ===

,id,officer_name,officer_position,position_short_name,update_date,officer_own_percent,quantity,type
0,5,Tô Hải,Thành viên Hội đồng Quản trị/Tổng Giám đốc,TV HĐQT/TGĐ,2025-01-24,0.1795,128889403,đang làm việc
1,12,Nguyễn Thanh Phượng,Chủ tịch Hội đồng Quản trị,Chủ tịch HĐQT,2025-02-05,0.0318,22815000,đang làm việc
2,8,Nguyễn Quang Bảo,Phó Tổng Giám đốc,Phó TGĐ,2025-01-24,0.0030,2184156,đang làm việc
3,2,Trần Quyết Thắng,Thành viên Hội đồng Quản trị,TV HĐQT,2024-03-27,0.0016,702000,đang làm việc
4,6,Đinh Quang Hoàn,Phó Tổng Giám đốc,Phó TGĐ,2025-01-24,0.0005,390174,đang làm việc

=== Company.subsidiaries ===

Empty DataFrame
Columns: [type]
Index: []

=== Company.news ===

,id,news_title,news_sub_title,friendly_sub_title,news_image_url,news_source_link,created_at,public_date,updated_at,lang_code,news_id,news_short_content,news_full_content,close_price,ref_price,floor,ceiling,price_change_pct
0,7249162,VCI: Báo cáo kết quả giao dịch cổ phiếu của tổ...,,,https://cdn.fiingroup.vn/medialib/127889/I/202...,https://www.hsx.vn/Modules/Cms/Web/LoadArticle...,None,1744991160000,None,vi,11546466,,<p>CTCP Quản lý quỹ Đầu tư CK Bản Việt báo cáo...,37050,37600,35000,40200,-0.014628
1,7088010,VCI: Biên bản họp và Nghị quyết ĐHĐCĐ thường ...,,,https://cdn.fiingroup.vn/medialib/127889/I/202...,https://www.hsx.vn/Modules/Cms/Web/LoadArticle...,None,1743675600000,None,vi,11516162,VCI: Biên bản họp và Nghị quyết ĐHĐCĐ thường ...,<p>Công ty Cổ phần Chứng khoán Vietcap công bố...,36300,39000,36300,41700,-0.069231
2,7074486,VCI: Báo cáo thường niên năm 2024,,,https://cdn.fiingroup.vn/medialib/127889/I/202...,https://www.hsx.vn/Modules/Cms/Web/LoadArticle...,None,1743523260000,None,vi,11512849,VCI: Báo cáo thường niên năm 2024,<p>Công ty Cổ phần Chứng khoán Vietcap công bố...,39000,38300,35650,40950,0.018277
3,7063368,VCI: Báo cáo sử dụng nguồn vốn trái phiếu phá...,,,https://cdn.fiingroup.vn/medialib/127889/I/202...,https://www.hsx.vn/Modules/Cms/Web/LoadArticle...,None,1743500400000,None,vi,11511853,VCI: Báo cáo sử dụng nguồn vốn trái phiếu phá...,<p>Công ty Cổ phần Chứng khoán Vietcap công bố...,39000,38300,35650,40950,0.018277
4,7063239,VCI: Báo cáo định kỳ tình hình thực hiện cam ...,,,https://cdn.fiingroup.vn/medialib/127889/I/202...,https://www.hsx.vn/Modules/Cms/Web/LoadArticle...,None,1743445380000,None,vi,11511228,VCI: Báo cáo định kỳ tình hình thực hiện cam ...,<p>Công ty Cổ phần Chứng khoán Vietcap công bố...,38300,38100,35450,40750,0.005249

=== Company.events ===

,id,event_title,en__event_title,public_date,issue_date,source_url,event_list_code,ratio,value,record_date,exright_date,event_list_name,en__event_list_name
0,34345,VCI - Niêm yết bổ sung 1.200.000 cổ phiếu,"VCI - Lists additional 1,200,000 shares",2020-10-02,2021-09-06,http://fiinpro.com/News/Detail/5857734?lang=vi-VN,AIS,0.0,0.0,1753-01-01,1753-01-01,Niêm yết thêm,Additional Listing
1,25145812,"VCI - Niêm yết bổ sung 2,000,099 cổ phiếu","VCI- Lists additional 2,000,099 shares",2023-07-18,2023-07-14,http://fiinpro.com/News/Detail/10859104?lang=v...,AIS,0.0,0.0,1753-01-01,1753-01-01,Niêm yết thêm,Additional Listing
2,41147707,"VCI - Niêm yết bổ sung 4,400,000 cổ phiếu","VCI- Lists additional 4,400,000 shares",2024-07-16,2024-07-12,http://fiinpro.com/News/Detail/11257832?lang=v...,AIS,0.0,0.0,1753-01-01,1753-01-01,Niêm yết thêm,Additional Listing
3,45466437,VCI - Niêm yết bổ sung 132.569.480 cổ phiếu,"VCI- Lists additional 132,569,480 shares",2024-10-11,2024-10-11,http://fiinpro.com/News/Detail/11345290?lang=v...,AIS,0.0,0.0,1753-01-01,1753-01-01,Niêm yết thêm,Additional Listing
4,34334,"VCI - Trả cổ tức Cả năm, 2017 bằng tiền 1000 V...","VCI - Pays Year, 2017 cash dividend at VND1000...",2018-06-29,2018-07-27,http://cmsv5.stoxplus.com/medialib/Crawler/201...,DIV,0.1,1000.0,2018-07-11,2018-07-10,Trả cổ tức bằng tiền mặt,Cash Dividend

# Macro

In [ ]:
# Cell 2: Instantiate the adapter
from vnstock_data import Macro
macro = Macro(source="mbk", random_agent=False, show_log=False)

In [ ]:
# Cell 3: Test GDP
print("=== Macro.gdp ===")
df_gdp = macro.gdp(start="2015-01", end="2025-04", period="quarter", keep_label=False)
df_gdp.head()

=== Macro.gdp ===

,last_updated,group_name,name,value,unit,source,report_type
report_time,,,,,,,
2015-03-01,2015-03-25,Cơ cấu GDP theo giá hiện tại,Công nghiệp,34.80,%,Tổng cục thống kê,Quý 1
2015-03-01,2015-03-25,Cơ cấu GDP theo giá hiện tại,Dịch vụ,42.23,%,Tổng cục thống kê,Quý 1
2015-03-01,2015-03-25,Cơ cấu GDP theo giá hiện tại,Nông nghiệp,12.35,%,Tổng cục thống kê,Quý 1
2015-03-01,2015-03-25,Giá trị GDP (2010),Công nghiệp,184644.00,Tỷ VNĐ,None,Quý 1
2015-03-01,2015-03-25,Giá trị GDP (2010),Dịch vụ,216604.00,Tỷ VNĐ,None,Quý 1

In [ ]:
# Cell 4: Test CPI
print("=== Macro.cpi ===")
df_cpi = macro.cpi(start="2015-01", end="2025-04", period="month")
df_cpi.head()

=== Macro.cpi ===

,last_updated,name,value,unit,source
report_time,,,,,
2015-01-31,2015-01-23,Chỉ số giá tiêu dùng,-0.20,%,Tổng cục thống kê
2015-01-31,2015-01-23,Đồ dùng và dịch vụ khác,0.53,%,Tổng cục thống kê
2015-01-31,2015-01-23,"Văn hóa, giải trí và du lịch",0.13,%,Tổng cục thống kê
2015-01-31,2015-01-23,Giáo dục,0.08,%,Tổng cục thống kê
2015-01-31,2015-01-23,Bưu chính viễn thông,-0.07,%,Tổng cục thống kê

In [ ]:
# Cell 5: Test Industrial Production
print("=== Macro.industry_prod ===")
df_ip = macro.industry_prod(start="2015-01", end="2025-04", period="month")
df_ip.head()

=== Macro.industry_prod ===

,last_updated,group_name,name,value,unit,source
report_time,,,,,,
2015-01-31,2015-12-08,Tăng trưởng,Toàn ngành công nghiệp,-2.8,%,None
2015-01-31,2015-12-08,Tăng trưởng,"Cung cấp nước, hoạt động quản lý và xử lý rác ...",1.1,%,None
2015-01-31,2015-12-08,Tăng trưởng,Khai khoáng,-2.3,%,None
2015-01-31,2015-12-08,Tăng trưởng,"Công nghiệp chế biến, chế tạo",-3.3,%,None
2015-01-31,2015-12-08,Tăng trưởng,Sản xuất và Phân phối điện,0.5,%,None

In [ ]:
# Cell 6: Test Import-Export
print("=== Macro.import_export ===")
df_ie = macro.import_export(start="2015-01", end="2025-04", period="month")
df_ie.head()

=== Macro.import_export ===

,last_updated,name,value,unit,source
report_time,,,,,
2015-01-31,2017-11-28,Tổng trị giá Nhập khẩu,13400.0,Triệu USD,Tổng cục thống kê
2015-01-31,2015-06-24,Máy móc thiết bị,664.0,Triệu USD,Tổng cục thống kê
2015-01-31,2015-06-24,Điện tử máy tính,1274.0,Triệu USD,Tổng cục thống kê
2015-01-31,2017-11-28,Thức ăn gia súc,270.0,Triệu USD,Tổng cục thống kê
2015-01-31,2015-06-24,Café,281.0,Triệu USD,Tổng cục thống kê

In [ ]:
# Cell 7: Test Retail
print("=== Macro.retail ===")
df_retail = macro.retail(start="2015-01", end="2025-04", period="month")
df_retail.head()

=== Macro.retail ===

,last_updated,name,value,unit,source
report_time,,,,,
2015-01-31,2015-01-27,Tổng,275454.2,Tỷ VNĐ,Tổng cục thống kê
2015-01-31,2015-01-27,Dịch vụ,30761.3,Tỷ VNĐ,Tổng cục thống kê
2015-01-31,2015-01-27,Thương nghiệp,211431.4,Tỷ VNĐ,Tổng cục thống kê
2015-01-31,2015-01-27,Khách sạn nhà hàng,31023.5,Tỷ VNĐ,Tổng cục thống kê
2015-01-31,2015-01-27,Du lịch,2238.0,Tỷ VNĐ,Tổng cục thống kê

In [ ]:
# Cell 8: Test FDI
print("=== Macro.fdi ===")
df_fdi = macro.fdi(start="2015-01", end="2025-04", period="month")
df_fdi.head()

=== Macro.fdi ===

,last_updated,group_name,name,value,unit,source
report_time,,,,,,
2015-01-31,2015-02-02,Tổng FDI,Đăng ký,0.66,Tỷ USD,Cục Đầu tư nước ngoài
2015-01-31,2015-02-02,Tổng FDI,Giải ngân,0.50,Tỷ USD,Cục Đầu tư nước ngoài
2015-02-28,2015-03-09,Tổng FDI,Giải ngân,0.70,Tỷ USD,Cục Đầu tư nước ngoài
2015-02-28,2015-03-09,Tổng FDI,Đăng ký,0.53,Tỷ USD,Cục Đầu tư nước ngoài
2015-03-31,2015-07-27,Tổng FDI,Giải ngân,1.85,Tỷ USD,Cục Đầu tư nước ngoài

In [ ]:
# Cell 9: Test Money Supply
print("=== Macro.money_supply ===")
df_ms = macro.money_supply(start="2015-01", end="2025-04", period="month")
df_ms.head()

=== Macro.money_supply ===

,last_updated,name,value,unit,source
report_time,,,,,
2015-01-31,2015-12-20,Tín dụng,3971912.00,Tỷ VNĐ,Ngân hàng Nhà nước Việt Nam
2015-01-31,2015-12-20,Tăng trưởng Cung tiền M2 (YTD)*,0.25,%,Ngân hàng Nhà nước Việt Nam
2015-01-31,2015-12-20,Cung tiền M2,5192194.00,Tỷ VNĐ,Ngân hàng Nhà nước Việt Nam
2015-01-31,2015-12-20,Tăng trưởng tín dụng (YTD)*,0.03,%,Ngân hàng Nhà nước Việt Nam
2015-02-28,2015-07-29,Tăng trưởng Cung tiền M2 (YTD)*,2.49,%,Ngân hàng Nhà nước Việt Nam

In [ ]:
# Cell 10: Test Exchange Rate
print("=== Macro.exchange_rate ===")
df_fx = macro.exchange_rate(start="2025-01-02", end="2025-04-10", period="day")
df_fx.head()

=== Macro.exchange_rate ===

,last_updated,name,value,unit,source
report_time,,,,,
2025-02-01,2025-01-31,Tỷ giá trung tâm (từ 04/01/2016),24325.0,VNĐ/USD,None
2025-02-01,2025-01-31,Liên ngân hàng,NaN,VNĐ/USD,Ngân hàng Nhà nước Việt Nam
2025-03-01,2025-02-28,Liên ngân hàng,NaN,VNĐ/USD,Ngân hàng Nhà nước Việt Nam
2025-03-01,2025-02-28,Tỷ giá trung tâm (từ 04/01/2016),24726.0,VNĐ/USD,None
2025-04-01,2025-03-31,Tỷ giá trung tâm (từ 04/01/2016),24835.0,VNĐ/USD,None

In [ ]:
# Cell 11: Test Population & Labor
print("=== Macro.population_labor ===")
df_pl = macro.population_labor(start="2015-01", end="2025-04", period="year")
df_pl.head()

=== Macro.population_labor ===

,last_updated,name,value,unit,source
report_time,,,,,
2015,2015-12-27,Số lượng lao động,54.61,Triệu người,ADB
2015,2015-12-27,Tỷ lệ thất nghiệp thành thị,3.29,%,ADB
2015,2015-12-27,Tỷ lệ nữ,48.30,%,ADB
2015,2015-12-27,Tỷ lệ nam,51.70,%,ADB
2015,2015-12-27,Tỷ lệ lao động/dân số,59.55,%,ADB

# Commodity

In [ ]:
# Single cell to test any CommodityPrice method
from IPython.display import display
from vnstock_data import CommodityPrice

# 1. Instantiate the adapter (adjust start/end dates as needed)
c = CommodityPrice(source="spl", start="2024-01-01", end="2025-04-18", show_log=False)

# 2. Uncomment the method call(s) you want to test:

# df = c.gold_vn()
# df = c.gold_global()
# df = c.gas_vn()
# df = c.oil_crude()
# df = c.gas_natural()
# df = c.coke()
# df = c.steel_d10()
# df = c.iron_ore()
# df = c.steel_hrc()
# df = c.fertilizer_ure()
# df = c.soybean()
# df = c.corn()
# df = c.sugar()
# df = c.pork_north_vn()
# df = c.pork_china()

# 3. Example: test gold_vn()
df = c.gold_vn()
display(df.head())

                buy     sell
time
2024-01-01  72000.0  75000.0
2024-01-02  72500.0  75500.0
2024-01-03  72000.0  75000.0
2024-01-04  72000.0  75000.0
2024-01-07  71000.0  74000.0

In [ ]:
# Test all CommodityPrice methods and display their results

from IPython.display import display
from vnstock_data import CommodityPrice

# Instantiate the adapter
c = CommodityPrice(source="spl", start="2024-01-01", end="2025-04-18", show_log=False)

# Define all available methods
methods = [
    "gold_vn",
    "gold_global",
    "gas_vn",
    "oil_crude",
    "gas_natural",
    "coke",
    "steel_d10",
    "iron_ore",
    "steel_hrc",
    "fertilizer_ure",
    "soybean",
    "corn",
    "sugar",
    "pork_north_vn",
    "pork_china",
]

# Execute each method, print its name, and show the first few rows
for method_name in methods:
    print(f"\n=== {method_name}() ===")
    try:
        df = getattr(c, method_name)()
        display(df.head())
    except Exception as e:
        print(f"Error in {method_name}(): {e}")

=== gold_vn() ===

                buy     sell
time
2024-01-01  72000.0  75000.0
2024-01-02  72500.0  75500.0
2024-01-03  72000.0  75000.0
2024-01-04  72000.0  75000.0
2024-01-07  71000.0  74000.0

=== gold_global() ===

                   open         high          low   close    volume
time
2024-01-02  2072.700000  2088.100000  2064.300000  2073.4  157555.0
2024-01-03  2067.900000  2074.300000  2038.300000  2042.8  221680.0
2024-01-04  2049.300000  2058.100000  2043.300000  2050.0  130263.0
2024-01-05  2051.400000  2071.100000  2030.800000  2049.8  214684.0
2024-01-07  2052.600098  2053.300049  2041.699951  2042.5   19511.0

=== gas_vn() ===

            ron95  ron92  oil_do
time
2024-01-01  22.14  21.18   19.78
2024-01-02  22.14  21.18   19.78
2024-01-03  21.91  21.00   19.36
2024-01-04  21.91  21.00   19.36
2024-01-07  21.91  21.00   19.36

=== oil_crude() ===

                 open       high        low      close    volume
time
2024-01-02  71.710000  73.640000  70.060000  70.380000  330992.0
2024-01-03  70.500000  73.230000  69.280000  72.700000  334861.0
2024-01-04  73.040000  74.000000  71.060000  72.190000  344467.0
2024-01-05  72.400000  74.240000  72.210000  73.810000  325525.0
2024-01-07  73.510002  73.949997  72.849998  72.900002   19240.0

=== gas_natural() ===

             open   high    low  close  volume
time
2024-01-02  2.600  2.675  2.520  2.570  7480.0
2024-01-03  2.575  2.720  2.540  2.670  7754.0
2024-01-04  2.685  2.860  2.680  2.820  9360.0
2024-01-05  2.840  2.905  2.680  2.895  8177.0
2024-01-07  2.950  2.963  2.856  2.868  9112.0

=== coke() ===

              open    high     low   close  volume
time
2024-01-02  126.15  126.15  126.15  126.15    76.0
2024-01-03  127.00  127.00  127.00  127.00   143.0
2024-01-04  129.00  129.25  129.00  129.20   146.0
2024-01-05  130.50  130.50  130.50  130.50    75.0
2024-01-08  129.50  129.75  129.50  129.75   163.0

=== steel_d10() ===

            close
time
2024-01-01  14.04
2024-01-02  14.04
2024-01-03  14.04
2024-01-04  14.04
2024-01-07  14.27

=== iron_ore() ===

              open    high     low   close  volume
time
2024-01-02  136.37  136.37  136.37  136.37     0.0
2024-01-03  144.16  144.16  144.16  144.16     0.0
2024-01-04  142.95  142.95  142.95  142.95     0.0
2024-01-05  141.45  141.45  141.45  141.45     0.0
2024-01-08  140.87  140.87  140.87  140.87     0.0

=== steel_hrc() ===

              open    high     low   close  volume
time
2024-01-02  1135.0  1135.0  1125.0  1127.0   396.0
2024-01-03  1127.0  1135.0  1099.0  1120.0   503.0
2024-01-04  1096.0  1110.0  1092.0  1099.0   160.0
2024-01-05  1100.0  1100.0  1076.0  1090.0   472.0
2024-01-08  1086.0  1086.0  1078.0  1080.0   200.0

=== fertilizer_ure() ===

             open   high    low  close  volume
time
2024-01-02  320.0  320.0  320.0  320.0     0.0
2024-01-03  320.0  320.0  320.0  320.0     0.0
2024-01-04  317.5  317.5  317.5  317.5     0.0
2024-01-05  315.0  315.0  315.0  315.0     0.0
2024-01-08  312.5  312.5  312.5  312.5     0.0

=== soybean() ===

               open     high      low    close    volume
time
2024-01-02  1290.50  1290.75  1267.25  1273.50  120524.0
2024-01-03  1273.50  1280.00  1265.75  1277.00  101043.0
2024-01-04  1277.00  1280.75  1265.00  1267.50   90810.0
2024-01-05  1267.25  1271.50  1255.00  1256.25   89364.0
2024-01-08  1258.00  1261.00  1236.00  1245.50  122347.0

=== corn() ===

              open    high     low   close    volume
time
2024-01-02  470.50  470.75  462.50  463.75  187193.0
2024-01-03  464.75  466.00  461.75  465.25  147913.0
2024-01-04  465.00  469.00  463.50  466.50  127034.0
2024-01-05  466.50  467.75  460.00  460.75  151589.0
2024-01-07  461.00  462.50  461.00  461.75    2863.0

=== sugar() ===

             open   high    low  close   volume
time
2024-01-02  20.60  21.38  20.60  20.90  57603.0
2024-01-03  20.90  21.40  20.71  20.85  49170.0
2024-01-04  20.98  21.25  20.86  21.08  37418.0
2024-01-05  21.13  21.21  20.60  21.11  46519.0
2024-01-08  21.11  21.79  21.11  21.74  49428.0

=== pork_north_vn() ===

              close
time
2024-01-01  58300.0
2024-01-02  58300.0
2024-01-03  58300.0
2024-01-04  58300.0
2024-01-05  57800.0

=== pork_china() ===

            close
time
2024-01-06  15.61
2024-01-13  15.35
2024-01-20  15.02
2024-01-27  14.66
2024-02-05  14.65