<a target="_blank" href="https://colab.research.google.com/github/vnstock-hq/vnstock_insider_guide/blob/main/demo/1_1_vnstock_data_explorer_v2_wrapper.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

# I. Cài đặt thư viện

In [ ]:
# Sao chép mã nguồn từ GitHub về Google Colab
!git clone https://github.com/vnstock-hq/vnstock_insider_guide
# Chuyển đến thư mục vừa clone
%cd /content/vnstock_insider_guide/oneclick_installer
# Trao quyền thực thi cho file
!chmod +x linux_installer.run
# Chạy trình cài đặt
!./linux_installer.run

**Lưu ý: Bạn cần khởi động lại phiên làm việc sau khi cài đặt trên Google Colab**

![restar session](http://vnstocks.com/images/khoi-dong-lai-phien-lam-viec-colab.png)

# Initialization

In [1]:
from IPython.display import display
from vnstock_data import Quote, Trading, Finance, Listing, Company, CommodityPrice, Macro

# Quote

In [30]:
print("=== Quote.history ===")
q = Quote(source="vci", symbol="VCI", random_agent=False, show_log=False)
df_hist = q.history(start="2024-02-01", end="2025-04-18", interval="1D")
display(df_hist.head())

print("\n=== Quote.intraday ===")
df_intraday = q.intraday(page_size=10)
display(df_intraday.head())

print("\n=== Quote.price_depth ===")
df_depth = q.price_depth()
display(df_depth.head())

=== Quote.history ===

        time   open   high    low  close   volume
0 2024-02-01  32.55  32.74  32.40  32.74  5200968
1 2024-02-02  33.08  33.49  33.04  33.12  9591553
2 2024-02-05  33.31  33.46  33.00  33.23  5832826
3 2024-02-06  33.42  34.40  33.34  33.91  7012133
4 2024-02-07  34.06  34.40  33.87  34.14  4952803

=== Quote.intraday ===

                       time  price  volume match_type         id
0 2025-05-06 14:45:00+07:00   37.0    1000       Sell  293952168
1 2025-05-06 14:45:00+07:00   37.0    7500       Sell  293952167
2 2025-05-06 14:45:00+07:00   37.0    4400       Sell  293952166
3 2025-05-06 14:45:00+07:00   37.0     200       Sell  293952165
4 2025-05-06 14:45:00+07:00   37.0     100       Sell  293952164

=== Quote.price_depth ===

     price    volume buy_volume sell_volume undefined_volume
0  37650.0   17800.0    17800.0         0.0              0.0
1  37600.0  299000.0   219700.0     79300.0              0.0
2  37550.0  203900.0   121600.0     82300.0              0.0
3  37500.0  368100.0   180600.0    187500.0              0.0
4  37450.0  112700.0    70400.0     42300.0              0.0

# Trading

In [ ]:
print("=== Trading.trading_stats ===")
t = Trading(source="vci", symbol="VCI", random_agent=False, show_log=False)
df_stats = t.trading_stats(start="2024-01-01", end="2024-03-31", limit=100)
display(df_stats.head())

print("\n=== Trading.side_stats ===")
bids_asks = t.side_stats(dropna=True)
print(bids_asks)

# print("\n=== Trading.price_board ===")
# board = t.price_board(symbols_list=["VCI","VCB"])
# display(board.head())

=== Trading.trading_stats ===

,time,ceiling_price,floor_price,reference_price,open_price,close_price,match_price,price_change,percent_price_change,highest_price,...,open_price_adjusted,close_price_adjusted,percent_price_change_adjusted,highest_price_adjusted,lowest_price_adjusted,unmatched_buy_trade_volume,unmatched_sell_trade_volume,dif_volume_buy_sell,average_volume_buy_order,average_volume_sell_order
0,2024-01-02,45700,39800,42750,43000,42300,42300,-450,-0.010526,43000,...,43000,42300,-0.010526,43000,42050,5184832,5773498,-588666,2527.235330,4431.681725
1,2024-01-03,45250,39350,42300,42200,42700,42700,400,0.009456,42700,...,42200,42700,0.009456,42700,41800,4482511,4224870,257641,2198.341210,3502.067655
2,2024-01-04,45650,39750,42700,42800,42450,42450,-250,-0.005855,43650,...,42800,42450,-0.005855,43650,42450,5818887,10441793,-4622906,3503.660643,2699.434488
3,2024-01-05,45400,39500,42450,42600,42500,42500,50,0.001178,42700,...,42600,42500,0.001178,42700,42150,4413998,3891915,522083,2603.234439,2839.276674
4,2024-01-08,45450,39550,42500,42750,42700,42700,200,0.004706,43300,...,42750,42700,0.004706,43300,42650,3243219,6400919,-3157700,2373.579916,2971.070681

=== Trading.side_stats ===
({'code': 'VN000000VCI9', 'symbol': 'VCI', 'ceiling': 39550, 'floor': 34450, 'refPrice': 37000, 'stockType': 'STOCK', 'board': 'HSX', 'exercisePrice': 0, 'exerciseRatio': '0.0:1', 'tradingStatus': 'TRADING_ACTIVATED', 'securityStatus': 'N', 'maturityDate': None, 'lastTradingDate': None, 'underlyingSymbol': None, 'issuerName': 'VCS', 'listedShare': 718099480, 'receivedTime': '2025-05-06T01:43:24.999Z', 'sendingTime': '20250506 01:43:31.266', 'messageType': 'd', 'type': 'STOCK', 'enOrganName': 'Vietcap Securities Joint Stock Company', 'enOrganShortName': 'Vietcap Securities', 'organName': 'Công ty Cổ phần Chứng khoán Vietcap', 'organShortName': 'Chứng khoán Vietcap', 'ticker': 'VCI', 'mappingSymbol': None, 'productGrpID': 'STO', 'partition': 5, 'indexType': None, 'tradingDate': '2025-05-06', 'lstTradingStatus': None}, {'code': 'VN000000VCI9', 'messageType': 'X', 'receivedTime': '2025-05-06T07:45:10.158Z', 'session': 'ENDED', 'symbol': 'VCI', 'time': '2025-05-06T07:45:00.047Z', 'transactionTime': '074500047', 'askPrices': [{'price': 37050, 'volume': 27100}, {'price': 37100, 'volume': 30400}, {'price': 37150, 'volume': 25600}], 'bidPrices': [{'price': 37000, 'volume': 219400}, {'price': 36950, 'volume': 71100}, {'price': 36900, 'volume': 136400}]}, {'accumulatedValue': 279549.045, 'accumulatedVolume': 7511000, 'accumulatedValueG1': 279549.045, 'accumulatedVolumeG1': 7511000, 'avgMatchPrice': 37218.61869258421, 'code': 'VN000000VCI9', 'currentRoom': 500178709, 'foreignBuyVolume': 1452200, 'foreignSellVolume': 206000, 'foreignBuyValue': 53976370000, 'foreignSellValue': 7660840000, 'highest': 37650, 'lowest': 36900, 'matchPrice': 37000, 'matchType': 's', 'matchVol': 1000, 'messageType': 'MT', 'receivedTime': '2025-05-06T08:32:18.804Z', 'sendingTime': '20250506 07:45:04.632', 'session': 'ENDED', 'symbol': 'VCI', 'time': '2025-05-06T07:45:00.047Z', 'totalRoom': 718099480, 'totalBuyOrders': 0, 'totalSellOrders': 0, 'bidCount': 0, 'askCount': 0, 'underlying': None, 'openInterest': None, 'stockType': 'STOCK', 'partition': 5, 'isMatchPrice': False, 'ceilingPrice': 39550, 'floorPrice': 34450, 'referencePrice': 37000})

# Insight

In [4]:
from vnstock_data import TopStock

top = TopStock(source="vnd")
top.gainer(index="VNINDEX", limit=10)

,symbol,index,last_price,last_updated,price_change_1d,price_change_pct_1d,accumulated_value,avg_volume_20d,volume_spike_20d_pct,total_volume_avg_20d,deal_volume_spike_20d_pct,deal_volume_spike_5d_20d_pct,deal_volume_sum_5d,deal_value_avg_5d,deal_volume_avg_5d
0,NVL,VNINDEX,12.25,2025-05-06 15:59,0.80,6.986900,4.489191e+11,18547530.0,199.420624,18905405.0,0.013224,7.079986,6692500.0,1.509782e+10,1338500.0
1,JVC,VNINDEX,4.79,2025-05-06 15:59,0.31,6.919643,2.453917e+09,413735.0,123.823220,563735.0,0.000000,0.000000,0.0,0.000000e+00,0.0
2,ITD,VNINDEX,14.00,2025-05-06 15:59,0.90,6.870229,2.222550e+09,43705.0,363.802769,43705.0,0.000000,0.000000,0.0,0.000000e+00,0.0
3,VPG,VNINDEX,12.05,2025-05-06 15:59,0.75,6.637168,1.071124e+10,404250.0,225.974026,404250.0,0.000000,0.000000,0.0,0.000000e+00,0.0
4,SGT,VNINDEX,18.05,2025-05-06 15:59,0.85,4.941860,3.635850e+09,123545.0,163.665061,123545.0,0.000000,0.000000,0.0,0.000000e+00,0.0
5,BCG,VNINDEX,3.07,2025-05-06 15:59,0.14,4.778157,2.640362e+10,9645770.0,89.617521,9691670.0,0.000000,0.181599,88000.0,4.804800e+07,17600.0
6,PAC,VNINDEX,31.60,2025-05-06 15:59,1.40,4.635762,7.165575e+09,174970.0,130.136595,174970.0,0.000000,0.000000,0.0,0.000000e+00,0.0
7,GEG,VNINDEX,15.25,2025-05-06 15:59,0.65,4.452055,6.668448e+10,1918135.0,229.081895,2166875.0,2.990482,45.547620,4934800.0,1.410575e+10,986960.0
8,GIL,VNINDEX,16.00,2025-05-06 15:59,0.65,4.234528,1.046159e+10,603570.0,109.614461,603570.0,0.000000,0.000000,0.0,0.000000e+00,0.0
9,DHG,VNINDEX,103.00,2025-05-06 15:59,4.00,4.040404,7.497170e+09,33315.0,220.021012,33315.0,0.000000,0.000000,0.0,0.000000e+00,0.0

In [5]:
top.loser(index="VNINDEX", limit=10)

,symbol,index,last_price,last_updated,price_change_1d,price_change_pct_1d,accumulated_value,avg_volume_20d,volume_spike_20d_pct,total_volume_avg_20d,deal_volume_spike_20d_pct,deal_volume_spike_5d_20d_pct,deal_volume_sum_5d,deal_value_avg_5d,deal_volume_avg_5d
0,TDH,VNINDEX,4.19,2025-05-06 15:59,-0.31,-6.888889,3.113252e+09,751700.0,97.006785,751700.0,0.000000,0.000000,0.0,0.000000e+00,0.0
1,RAL,VNINDEX,98.90,2025-05-06 15:59,-5.30,-5.086372,1.106356e+10,24000.0,465.833333,24000.0,0.000000,0.000000,0.0,0.000000e+00,0.0
2,PTC,VNINDEX,5.80,2025-05-06 15:59,-0.29,-4.761905,1.778000e+06,34875.0,0.860215,34875.0,0.000000,0.000000,0.0,0.000000e+00,0.0
3,TMT,VNINDEX,12.30,2025-05-06 15:59,-0.60,-4.651163,3.584700e+08,32075.0,90.724864,32075.0,0.000000,0.000000,0.0,0.000000e+00,0.0
4,HAG,VNINDEX,12.80,2025-05-06 15:59,-0.60,-4.477612,1.981604e+11,10058125.0,150.468402,10059125.0,0.000000,0.039765,20000.0,4.760000e+07,4000.0
5,CCC,VNINDEX,19.30,2025-05-06 15:59,-0.90,-4.455446,4.292080e+09,102175.0,221.384879,102175.0,0.000000,0.000000,0.0,0.000000e+00,0.0
6,C47,VNINDEX,6.52,2025-05-06 15:59,-0.29,-4.258443,3.092860e+08,38790.0,121.423047,38790.0,0.000000,0.000000,0.0,0.000000e+00,0.0
7,HAH,VNINDEX,63.50,2025-05-06 15:59,-2.50,-3.787879,1.087624e+11,2396440.0,70.341840,2469685.0,0.000000,0.000000,0.0,0.000000e+00,0.0
8,VSC,VNINDEX,23.05,2025-05-06 15:59,-0.90,-3.757829,1.857381e+11,4700865.0,168.617903,4821615.0,1.659195,9.457412,2280000.0,1.021350e+10,456000.0
9,CIG,VNINDEX,7.90,2025-05-06 15:59,-0.26,-3.186275,1.282539e+09,297540.0,54.043154,339210.0,0.000000,0.000000,0.0,0.000000e+00,0.0

In [6]:
top.value(index='VNINDEX', limit=10)

,symbol,index,last_price,last_updated,price_change_1d,price_change_pct_1d,accumulated_value,avg_volume_20d,volume_spike_20d_pct,total_volume_avg_20d,deal_volume_spike_20d_pct,deal_volume_spike_5d_20d_pct,deal_volume_sum_5d,deal_value_avg_5d,deal_volume_avg_5d
0,SHB,VNINDEX,12.50,2025-05-06 15:59,-0.20,-1.574803,6.839081e+11,80281235.0,67.412142,8.212675e+07,0.012176,0.994094,4082085.0,1.052627e+10,816417.00
1,TCB,VNINDEX,26.85,2025-05-06 15:59,0.35,1.320755,6.564922e+11,24031015.0,101.564998,2.904514e+07,0.108245,25.673861,37285042.0,1.935128e+11,7457008.40
2,FPT,VNINDEX,109.70,2025-05-06 15:59,1.10,1.012891,6.260440e+11,9474185.0,60.017827,1.032590e+07,1.012020,9.628609,4971200.1,1.118179e+11,994240.02
3,HPG,VNINDEX,25.45,2025-05-06 15:59,-0.25,-0.972763,5.386664e+11,35262820.0,59.375002,3.713376e+07,0.061938,11.894438,22084260.0,1.135397e+11,4416852.00
4,MBB,VNINDEX,23.55,2025-05-06 15:59,0.00,0.000000,5.378971e+11,37754270.0,60.373568,3.827736e+07,0.000000,0.181308,347000.0,1.649390e+09,69400.00
5,NVL,VNINDEX,12.25,2025-05-06 15:59,0.80,6.986900,4.489191e+11,18547530.0,199.420624,1.890540e+07,0.013224,7.079986,6692500.0,1.509782e+10,1338500.00
6,VPB,VNINDEX,16.90,2025-05-06 15:59,0.30,1.807229,4.309427e+11,23940170.0,105.746116,2.601148e+07,0.000000,22.303539,29007403.0,9.695313e+10,5801480.60
7,VIC,VNINDEX,70.50,2025-05-06 15:59,0.50,0.714286,4.031146e+11,11203725.0,50.948234,1.576320e+07,0.000000,3.571736,2815100.0,3.763134e+10,563020.00
8,VIX,VNINDEX,12.30,2025-05-06 15:59,-0.15,-1.204819,3.863965e+11,47565345.0,65.079734,4.884722e+07,0.000000,0.081069,198000.0,4.851000e+08,39600.00
9,SSI,VNINDEX,23.15,2025-05-06 15:59,0.05,0.216450,3.843930e+11,30002105.0,54.912814,3.060271e+07,1.699197,1.522741,2330000.1,1.070155e+10,466000.02

In [7]:
top.volume(index='VNINDEX', limit=10)

,symbol,index,last_price,last_updated,price_change_1d,price_change_pct_1d,accumulated_value,avg_volume_20d,volume_spike_20d_pct,total_volume_avg_20d,deal_volume_spike_20d_pct,deal_volume_spike_5d_20d_pct,deal_volume_sum_5d,deal_value_avg_5d,deal_volume_avg_5d
0,SC5,VNINDEX,17.85,2025-05-06 15:59,0.00,0.000000,2.364735e+09,12220.0,1162.029460,14720.0,339.673913,67.934783,50000.0,1.665000e+08,10000.0
1,RAL,VNINDEX,98.90,2025-05-06 15:59,-5.30,-5.086372,1.106356e+10,24000.0,465.833333,24000.0,0.000000,0.000000,0.0,0.000000e+00,0.0
2,ITD,VNINDEX,14.00,2025-05-06 15:59,0.90,6.870229,2.222550e+09,43705.0,363.802769,43705.0,0.000000,0.000000,0.0,0.000000e+00,0.0
3,SJS,VNINDEX,90.50,2025-05-06 15:59,3.20,3.665521,8.380330e+09,35785.0,267.151041,289654.3,3.866678,0.773336,11200.0,1.948800e+08,2240.0
4,ANV,VNINDEX,15.70,2025-05-06 15:59,0.40,2.614379,5.644718e+10,1562275.0,243.363044,1566275.0,0.000000,1.021532,80000.0,2.464000e+08,16000.0
5,PPC,VNINDEX,12.80,2025-05-06 15:59,0.30,2.400000,2.087030e+10,705950.0,230.724556,705950.0,0.000000,0.000000,0.0,0.000000e+00,0.0
6,GEG,VNINDEX,15.25,2025-05-06 15:59,0.65,4.452055,6.668448e+10,1918135.0,229.081895,2166875.0,2.990482,45.547620,4934800.0,1.410575e+10,986960.0
7,VPG,VNINDEX,12.05,2025-05-06 15:59,0.75,6.637168,1.071124e+10,404250.0,225.974026,404250.0,0.000000,0.000000,0.0,0.000000e+00,0.0
8,CCC,VNINDEX,19.30,2025-05-06 15:59,-0.90,-4.455446,4.292080e+09,102175.0,221.384879,102175.0,0.000000,0.000000,0.0,0.000000e+00,0.0
9,DHG,VNINDEX,103.00,2025-05-06 15:59,4.00,4.040404,7.497170e+09,33315.0,220.021012,33315.0,0.000000,0.000000,0.0,0.000000e+00,0.0

In [8]:
top.deal(index='VNINDEX', limit=10)

,symbol,index,last_price,last_updated,price_change_1d,price_change_pct_1d,accumulated_value,avg_volume_20d,volume_spike_20d_pct,total_volume_avg_20d,deal_volume_spike_20d_pct,deal_volume_spike_5d_20d_pct,deal_volume_sum_5d,deal_value_avg_5d,deal_volume_avg_5d
0,SC5,VNINDEX,17.85,2025-05-06 15:59,0.00,0.000000,2.364735e+09,12220.0,1162.029460,1.472000e+04,339.673913,67.934783,50000.0,1.665000e+08,10000.00
1,PHC,VNINDEX,5.20,2025-05-06 15:59,0.02,0.386100,6.327400e+08,80125.0,152.511700,8.739000e+04,166.266163,33.253233,145300.0,1.505308e+08,29060.00
2,CDC,VNINDEX,18.20,2025-05-06 15:59,-0.30,-1.621622,6.528150e+08,57975.0,61.923243,1.051900e+05,48.293564,9.658713,50800.0,1.879600e+08,10160.00
3,KOS,VNINDEX,38.60,2025-05-06 15:59,-0.05,-0.129366,1.370356e+10,339515.0,104.590372,5.622851e+05,41.883006,24.101720,677601.9,4.878734e+09,135520.38
4,NT2,VNINDEX,18.15,2025-05-06 15:59,-0.15,-0.819672,6.730065e+09,738525.0,49.964456,7.462088e+05,20.594236,4.118847,153676.0,5.286454e+08,30735.20
5,SHI,VNINDEX,14.45,2025-05-06 15:59,-0.05,-0.344828,4.028685e+09,312950.0,89.087714,8.047055e+05,14.801688,2.960338,119110.0,3.454190e+08,23822.00
6,OCB,VNINDEX,10.45,2025-05-06 15:59,0.05,0.480769,2.892284e+10,3690230.0,74.832734,5.349022e+06,11.217004,89.075498,23823340.0,5.001872e+10,4764668.00
7,FRT,VNINDEX,171.80,2025-05-06 15:59,-0.70,-0.405797,4.265220e+10,600545.0,41.245868,6.600140e+05,8.269522,13.632438,449880.0,1.500142e+10,89976.00
8,DC4,VNINDEX,12.80,2025-05-06 15:59,-0.30,-2.290076,8.435320e+09,860400.0,75.476523,8.628569e+05,5.694872,1.138974,49138.6,1.198982e+08,9827.72
9,GEX,VNINDEX,28.60,2025-05-06 15:59,0.25,0.881834,3.423262e+11,16554295.0,71.291468,1.802834e+07,5.546821,3.395764,3061000.0,1.601720e+10,612200.00

In [9]:
top.foreign_buy(date='2024-08-16')

  symbol        date     net_value
0    MWG  2024-08-16  1.015998e+11
1    CTG  2024-08-16  6.709855e+10
2    DIG  2024-08-16  6.705117e+10
3    MSN  2024-08-16  6.318864e+10
4    VCI  2024-08-16  5.041683e+10
5    VND  2024-08-16  3.089996e+10
6    NVL  2024-08-16  3.054193e+10
7    DPM  2024-08-16  2.839805e+10
8    DGC  2024-08-16  2.769208e+10
9    FPT  2024-08-16  2.629880e+10

In [10]:
top.foreign_sell(date='2024-08-16')

     symbol        date     net_value
0       VHM  2024-08-16 -3.136147e+11
1       HPG  2024-08-16 -1.804457e+11
2       TCB  2024-08-16 -1.083005e+11
3       HSG  2024-08-16 -5.660693e+10
4       VPB  2024-08-16 -4.944804e+10
5  FUEVFVND  2024-08-16 -3.769779e+10
6       FRT  2024-08-16 -3.130877e+10
7       HDB  2024-08-16 -2.534124e+10
8       QNS  2024-08-16 -1.809028e+10
9       NLG  2024-08-16 -1.657578e+10

# Market

In [11]:
from vnstock_data import Market
mk = Market(source="vnd")

In [12]:
mk.evaluation(duration='5Y')

                   pe        pb
reportDate
2020-05-07  13.094984  1.787279
2020-05-08  13.376637  1.825721
2020-05-11  13.616930  1.858987
2020-05-12  13.731417  1.874617
2020-05-13  13.713276  1.873045
...               ...       ...
2025-04-24  12.004537  1.557528
2025-04-25  12.056841  1.561316
2025-04-28  11.968801  1.545484
2025-04-29  11.869984  1.526738
2025-05-05  11.929893  1.536393

[1242 rows x 2 columns]

In [13]:
mk.pb(duration="5Y")

                  pb
reportDate
2020-05-07  1.787279
2020-05-08  1.825721
2020-05-11  1.858987
2020-05-12  1.874617
2020-05-13  1.873045
...              ...
2025-04-24  1.557528
2025-04-25  1.561316
2025-04-28  1.545484
2025-04-29  1.526738
2025-05-05  1.536393

[1242 rows x 1 columns]

In [14]:
mk.pe(duration="5Y")

                   pe
reportDate
2020-05-07  13.094984
2020-05-08  13.376637
2020-05-11  13.616930
2020-05-12  13.731417
2020-05-13  13.713276
...               ...
2025-04-24  12.004537
2025-04-25  12.056841
2025-04-28  11.968801
2025-04-29  11.869984
2025-05-05  11.929893

[1242 rows x 1 columns]

# Finance

In [ ]:
print("=== Finance.balance_sheet ===")
f = Finance(source="mas", symbol="VCI", period="quarter", get_all=False, show_log=False)
df_bs = f.balance_sheet(period="year", lang="en", dropna=True)
display(df_bs.head())

print("\n=== Finance.income_statement ===")
df_is = f.income_statement(lang="vi")
display(df_is.head())

print("\n=== Finance.cash_flow ===")
df_cf = f.cash_flow()
display(df_cf.head())

print("\n=== Finance.ratio ===")
df_rat = f.ratio(flatten_columns=False)
display(df_rat.head())

=== Finance.balance_sheet ===

,period,year_period,A. SHORT-TERM ASSETS,Short-term financial assets,1. Cash and cash equivalents,1.1. Cash,1.2. Cash equivalents,Short-term investments,+ Short-term investments,Provision for diminution in value of short-term investments,...,1.5. Treasury shares,2. Assets revaluation differences,4. Supplementary capital reserve,Investment and development fund,5. Financial reserves,7. Undistributed earnings after tax,7.1. Realised profits,7.2. Unrealised losses,8. Minority interest,TOTAL OWNER'S EQUITY AND LIABILITIES
0,2024,2024,26491835561026,26323154756009,4743771932745,4743771932745,None,None,None,None,...,None,2372439624636,None,None,None,796731023225,798326170747,-1595147522,None,26592124479240
1,2023,2023,17174448616966,16979554557451,787897819240,537897819240,250000000000,None,None,None,...,None,1607735798409,67496330852,None,None,1307497181080,1307134594788,362586292,None,17255134656525
2,2022,2022,14157693071824,14105852063553,3423501614803,2313501614803,1110000000000,None,None,None,...,None,1030130358576,67496330852,None,233096330852,800246141334,791426130951,8820010383,None,14242751316822
3,2021,2021,16568965942558,16415067989149,1131748599533,1131748599533,None,None,None,None,...,None,1665653687451,67496330852,None,233096330852,1241116896232,1024259038107,216857858125,None,16636264947117
4,2020,2020,8312170798945,8214643150141,642512983590,642512983590,None,None,None,None,...,None,426695337106,115757247094,None,194161910684,1543954728940,1475888629109,68066099831,None,8382405125440

=== Finance.income_statement ===

,period,1.1. Lãi từ các tài sản tài chính ghi nhận thông qua lãi/lỗ (FVTPL),a. Lãi bán các tài sản tài chính,b. Chênh lệch tăng đánh giá lại các TSTC thông qua lãi/lỗ,"c. Cổ tức, tiền lãi phát sinh từ tài sản tài chính PVTPL",d. Chênh lệch giảm do đánh giá lại phải trả chứng quyền đang lưu hành,1.2. Lãi từ các khoản đầu tư nắm giữ đến ngày đáo hạn (HTM),1.3. Lãi từ các khoản cho vay và phải thu,1.4. Lãi từ các tài sản tài chính sẵn sàng để bán (AFS),1.6. Doanh thu môi giới chứng khoán,...,X. CHI PHÍ THUẾ THU NHẬP DOANH NGHIỆP,10.1. Chi phí thuế TNDN hiện hành,10.2. Chi phí thuế TNDN hoãn lại,XI. LỢI NHUẬN KẾ TOÁN SAU THUẾ TNDN,11.1. Lợi nhuận sau thuế phân bổ cho chủ sở hữu,11.3. Lợi nhuận thuần phân bổ cho lợi ích cổ đông không kiểm soát,12.1. Lãi/(Lỗ) từ đánh giá lại các khoản đầu tư giữ đến ngày đáo hạn,12.2.Lãi/(Lỗ) từ đánh giá lại các tài sản tài chính sẵn sàng để bán,Tổng thu nhập toàn diện,13.1.Lãi cơ bản trên cổ phiếu (Đồng/1 cổ phiếu) (VNÐ)
0,2025-Q1,354620858555,353326679620,-1339866473,683285270,1950760138,11764136988,256978768490,54361710583,149076747455,...,60239238272,72883103138,-12643864866,294867782406,294867782406,None,None,-479525772682,-479525772682,None
1,2024-Q4,442927214370,437849136178,2469489776,2608588416,None,7342042968,251882660953,88924760112,184188121434,...,34958370151,35884665831,-926295680,218376745828,218376745828,None,None,62236406587,62236406587,None
2,2024-Q3,535759271261,533944641606,-432439523,2247069178,None,4790082191,206369151917,29495872511,182684256647,...,49343174067,40189361297,9153812770,215352225175,215352225175,None,None,-255060137412,-255060137412,None
3,2024-Q2,447623383804,449263881222,-6036131450,5097932535,-702298503,5048805488,234459647163,27178032146,180658362616,...,64559441640,64821621464,-262179824,279206679897,279206679897,None,None,349204878302,349204878302,None
4,2024-Q1,352304951109,338334044066,7851698521,8801592603,-2682384081,5960087666,180238198162,79404264100,182072983568,...,29784005755,37710331505,-7926325750,197756462393,197756462393,None,None,608322678750,608322678750,None

=== Finance.cash_flow ===

,period,1. Lợi nhuận trước thuế,2. Điều chỉnh cho các khoản,- Khấu hao tài sản cố định,- Các khoản lập dự phòng,"- Chi phí phải trả, chi phí trả trước","- Lãi, lỗ từ hoạt động đầu tư (đầu tư công ty con, liên doanh, liên kết)",- Chi phí lãi vay,- Dự thu tiền lãi,- Điều chỉnh cho các khoản khác,...,2. Tiền chi mua chứng khoán môi giới cho khách hàng,9. Nhận tiền gửi để thanh toán giao dịch chứng khoán của khách hàng,10. Tiền gửi ký quỹ của NĐT tại VSD,14. Chi trả phí lưu ký chứng khoán của khách hàng,Tăng/giảm tiền thuần trong kỳ,II. Tiền và các khoản tương đương tiền đầu kỳ của khách hàng,-Tiền gửi của Nhà đầu tư về giao dịch chứng khoán theo phương thức CTCK quản lý,-Tiền gửi của Nhà đầu tư về giao dịch chứng khoán theo phương thức Ngân hàng thương mại quản lý,-Tiền gửi bù trừ và thanh toán giao dịch chứng khoán,III. Tiền và các khoản tương đương tiền cuối kỳ của khách hàng
0,2025-Q1,355107020678,90805069295,3311039364,None,None,-1190000,171526241912,-84031021981,None,...,-68272101417204,8790722255667,-589618105421,-4196481836,-442770034098,2711953187920,1588759482092,None,680423671730,2269183153822
1,2024-Q4,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
2,2024-Q3,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
3,2024-Q2,None,None,None,None,None,None,None,None,None,...,None,None,None,None,None,None,None,None,None,None
4,2024-Q1,227540468148,122510589993,2355785701,None,None,None,178540652349,-58385848057,None,...,-89397589566000,4370325322374,-5708321474,-3388152470,-26998685282,2772739733406,2118890287443,None,626850760681,2745741048124

=== Finance.ratio ===

,period,Thu nhập trên mỗi cổ phần của 4 quý gần nhất (EPS),Giá trị sổ sách của cổ phiếu (BVPS),Chỉ số giá thị trường trên thu nhập (P/E),Chỉ số giá thị trường trên giá trị sổ sách (P/B),Chỉ số giá thị trường trên doanh thu thuần (P/S),Tỷ suất cổ tức,Beta,Giá trị doanh nghiệp trên lợi nhuận trước thuế và lãi vay (EV/EBIT),"Giá trị doanh nghiệp trên lợi nhuận trước thuế, khấu hao và lãi vay (EV/EBITDA)"
0,2025-Q1,1783,17519,21.49,2.19,32.32,0.02,1.66,0,0
1,2024-Q4,1822,18026,18.22,1.84,23.86,0.01,1.63,0,0
2,2024-Q3,1838,15044,19.97,2.44,21.64,0.01,1.75,0,0
3,2024-Q2,1780,20046,25.9,2.3,22.24,0,1.84,0,0
4,2024-Q1,1411,18691,38.13,2.88,29.19,0.01,2,0,0

# Listing

In [ ]:
print("=== Listing.all_symbols ===")
lst = Listing(source="vci", random_agent=False, show_log=False)
df_all = lst.all_symbols(to_df=True)
display(df_all.head())

print("\n=== Listing.symbols_by_exchange ===")
df_ex = lst.symbols_by_exchange(lang="en")
display(df_ex.head())

print("\n=== Listing.symbols_by_group (VN30) ===")
df_grp = lst.symbols_by_group(group="VN30")
display(df_grp.head())

print("\n=== Listing.industries_icb ===")
df_icb = lst.industries_icb()
display(df_icb.head())

=== Listing.all_symbols ===

  symbol                                         organ_name
0    YTC  Công ty Cổ phần Xuất nhập khẩu Y tế Thành phố ...
1    YEG                     Công ty Cổ phần Tập đoàn Yeah1
2    YBM     Công ty Cổ phần Khoáng sản Công nghiệp Yên Bái
3    YBC      Công ty Cổ phần Xi măng và Khoáng sản Yên Bái
4    XPH                    Công ty Cổ phần Xà phòng Hà Nội

=== Listing.symbols_by_exchange ===

,symbol,exchange,type,organ_name,organ_short_name,product_grp_id
0,YTC,UPCOM,STOCK,Ho Chi Minh City Medical Import Export Joint S...,None,UPX
1,YEG,HSX,STOCK,Yeah1 Group Corporation,None,STO
2,YBM,HSX,STOCK,Yen Bai Industry Mineral Joint Stock Company,None,STO
3,YBC,UPCOM,STOCK,YenBai Cement and Minerals Joint Stock Company,None,UPX
4,XPH,UPCOM,STOCK,Hanoi Soap Joint Stock Company,None,UPX

=== Listing.symbols_by_group (VN30) ===

0    ACB
1    BCM
2    BID
3    BVH
4    CTG
Name: symbol, dtype: object

=== Listing.industries_icb ===

,icb_name,en_icb_name,icb_code,level
0,Sản xuất Dầu khí,Oil & Gas Producers,0530,3
1,"Thiết bị, Dịch vụ và Phân phối Dầu khí","Oil Equipment, Services & Distribution",0570,3
2,Hóa chất,Chemicals,1350,3
3,Lâm nghiệp và Giấy,Forestry & Paper,1730,3
4,Kim loại,Industrial Metals & Mining,1750,3

# Company

In [ ]:
print("=== Company.overview ===")
c = Company(source="vci", symbol="VCI", random_agent=False, show_log=False)
df_ov = c.overview()
display(df_ov.head())

print("\n=== Company.shareholders ===")
df_sh = c.shareholders()
display(df_sh.head())

print("\n=== Company.officers ===")
df_of = c.officers(filter_by="all")
display(df_of.head())

print("\n=== Company.subsidiaries ===")
df_sub = c.subsidiaries(filter_by="all")
display(df_sub.head())

print("\n=== Company.news ===")
df_news = c.news()
display(df_news.head())

print("\n=== Company.events ===")
df_evt = c.events()
display(df_evt.head())

=== Company.overview ===

,symbol,id,issue_share,history,company_profile,icb_name3,icb_name2,icb_name4,financial_ratio_issue_share,charter_capital
0,VCI,75885,718099480,- Ngày 06/11/2007: Công ty Cổ phần Chứng khoá...,Công ty Cổ phần Chứng khoán Vietcap (VCI) được...,Dịch vụ tài chính,Dịch vụ tài chính,Môi giới chứng khoán,718099480,7180994800000

=== Company.shareholders ===

         id           share_holder   quantity  share_own_percent update_date
0  79491935                Tô  Hải  128889403            0.17950  2025-01-24
1  79490573         PYN Elite Fund    8132100            0.04910  2025-01-24
2  79482080  Nguyễn Phan Minh Khôi    7483872            0.04591  2025-01-24
3  79496837        Võ Thị Anh Quân    5500000            0.04580  2025-01-24
4  79483093        Nguyễn Thanh Tú    4536000            0.03780  2025-01-24

=== Company.officers ===

,id,officer_name,officer_position,position_short_name,update_date,officer_own_percent,quantity,type
0,4,Tô Hải,Tổng Giám đốc/Thành viên Hội đồng Quản trị,TGĐ/TV HĐQT,2025-01-24,0.1795,128889403,đang làm việc
1,11,Nguyễn Thanh Phượng,Chủ tịch Hội đồng Quản trị,Chủ tịch HĐQT,2025-02-05,0.0318,22815000,đang làm việc
2,7,Nguyễn Quang Bảo,Phó Tổng Giám đốc,Phó TGĐ,2025-01-24,0.0030,2184156,đang làm việc
3,2,Trần Quyết Thắng,Thành viên Hội đồng Quản trị,TV HĐQT,2024-03-27,0.0016,702000,đang làm việc
4,5,Đinh Quang Hoàn,Phó Tổng Giám đốc,Phó TGĐ,2025-01-24,0.0005,390174,đang làm việc

=== Company.subsidiaries ===

Empty DataFrame
Columns: [type]
Index: []

=== Company.news ===

,id,news_title,news_sub_title,friendly_sub_title,news_image_url,news_source_link,created_at,public_date,updated_at,lang_code,news_id,news_short_content,news_full_content,close_price,ref_price,floor,ceiling,price_change_pct
0,7249162,VCI: Báo cáo kết quả giao dịch cổ phiếu của tổ...,,,https://cdn.fiingroup.vn/medialib/127889/I/202...,https://www.hsx.vn/Modules/Cms/Web/LoadArticle...,None,1744991160000,None,vi,11546466,,<p>CTCP Quản lý quỹ Đầu tư CK Bản Việt báo cáo...,37050,37600,35000,40200,-0.014628
1,7088010,VCI: Biên bản họp và Nghị quyết ĐHĐCĐ thường ...,,,https://cdn.fiingroup.vn/medialib/127889/I/202...,https://www.hsx.vn/Modules/Cms/Web/LoadArticle...,None,1743675600000,None,vi,11516162,VCI: Biên bản họp và Nghị quyết ĐHĐCĐ thường ...,<p>Công ty Cổ phần Chứng khoán Vietcap công bố...,36300,39000,36300,41700,-0.069231
2,7074486,VCI: Báo cáo thường niên năm 2024,,,https://cdn.fiingroup.vn/medialib/127889/I/202...,https://www.hsx.vn/Modules/Cms/Web/LoadArticle...,None,1743523260000,None,vi,11512849,VCI: Báo cáo thường niên năm 2024,<p>Công ty Cổ phần Chứng khoán Vietcap công bố...,39000,38300,35650,40950,0.018277
3,7063368,VCI: Báo cáo sử dụng nguồn vốn trái phiếu phá...,,,https://cdn.fiingroup.vn/medialib/127889/I/202...,https://www.hsx.vn/Modules/Cms/Web/LoadArticle...,None,1743500400000,None,vi,11511853,VCI: Báo cáo sử dụng nguồn vốn trái phiếu phá...,<p>Công ty Cổ phần Chứng khoán Vietcap công bố...,39000,38300,35650,40950,0.018277
4,7063239,VCI: Báo cáo định kỳ tình hình thực hiện cam ...,,,https://cdn.fiingroup.vn/medialib/127889/I/202...,https://www.hsx.vn/Modules/Cms/Web/LoadArticle...,None,1743445380000,None,vi,11511228,VCI: Báo cáo định kỳ tình hình thực hiện cam ...,<p>Công ty Cổ phần Chứng khoán Vietcap công bố...,38300,38100,35450,40750,0.005249

=== Company.events ===

,id,event_title,en__event_title,public_date,issue_date,source_url,event_list_code,ratio,value,record_date,exright_date,event_list_name,en__event_list_name
0,34334,"VCI - Trả cổ tức Cả năm, 2017 bằng tiền 1000 V...","VCI - Pays Year, 2017 cash dividend at VND1000...",2018-06-29,2018-07-27,http://cmsv5.stoxplus.com/medialib/Crawler/201...,DIV,0.10,1000.0,2018-07-11,2018-07-10,Trả cổ tức bằng tiền mặt,Cash Dividend
1,34336,"VCI - Trả cổ tức Đợt 1, 2018 bằng tiền 700 VND/CP","VCI - Pays Interim 1, 2018 cash dividend at VN...",2019-01-18,2019-02-14,http://cmsv5.stoxplus.com/medialib/Crawler/201...,DIV,0.07,700.0,2019-01-28,2019-01-25,Trả cổ tức bằng tiền mặt,Cash Dividend
2,34337,"VCI - Trả cổ tức Đợt 2, 2018 bằng tiền 700 VND/CP","VCI - Pays Interim 2, 2018 cash dividend at VN...",2019-05-04,2019-06-03,http://cmsv5.stoxplus.com/medialib/Crawler/201...,DIV,0.07,700.0,2019-05-17,2019-05-16,Trả cổ tức bằng tiền mặt,Cash Dividend
3,34339,"VCI - Trả cổ tức Cả năm, 2019 bằng tiền 1500 V...","VCI - Pays Year, 2019 cash dividend at VND1500...",2020-07-07,2020-08-03,http://fiinpro.com/News/Detail/5329014?lang=vi-VN,DIV,0.15,1500.0,2020-07-17,2020-07-16,Trả cổ tức bằng tiền mặt,Cash Dividend
4,34341,"VCI - Trả cổ tức Đợt 1, 2020 bằng tiền 1000 VN...","VCI - Pays Interim 1, 2020 cash dividend at VN...",2020-12-15,2020-12-31,http://fiinpro.com/News/Detail/6417706?lang=vi-VN,DIV,0.10,1000.0,2020-12-23,2020-12-22,Trả cổ tức bằng tiền mặt,Cash Dividend

# Macro

In [ ]:
from vnstock_data import Macro
macro = Macro(source="mbk", random_agent=False, show_log=False)

In [ ]:
print("=== Macro.gdp ===")
df_gdp = macro.gdp(start="2015-01", end="2025-04", period="quarter", keep_label=False)
df_gdp.head()

=== Macro.gdp ===

,last_updated,group_name,name,value,unit,source,report_type
report_time,,,,,,,
2015-03-01,2015-03-25,Cơ cấu GDP theo giá hiện tại,Công nghiệp,34.80,%,Tổng cục thống kê,Quý 1
2015-03-01,2015-03-25,Cơ cấu GDP theo giá hiện tại,Dịch vụ,42.23,%,Tổng cục thống kê,Quý 1
2015-03-01,2015-03-25,Cơ cấu GDP theo giá hiện tại,Nông nghiệp,12.35,%,Tổng cục thống kê,Quý 1
2015-03-01,2015-03-25,Giá trị GDP (2010),Công nghiệp,184644.00,Tỷ VNĐ,None,Quý 1
2015-03-01,2015-03-25,Giá trị GDP (2010),Dịch vụ,216604.00,Tỷ VNĐ,None,Quý 1

In [ ]:
print("=== Macro.cpi ===")
df_cpi = macro.cpi(start="2015-01", end="2025-04", period="month")
df_cpi.head()

=== Macro.cpi ===

,last_updated,name,value,unit,source
report_time,,,,,
2015-01-31,2015-01-23,Chỉ số giá tiêu dùng,-0.20,%,Tổng cục thống kê
2015-01-31,2015-01-23,Đồ dùng và dịch vụ khác,0.53,%,Tổng cục thống kê
2015-01-31,2015-01-23,"Văn hóa, giải trí và du lịch",0.13,%,Tổng cục thống kê
2015-01-31,2015-01-23,Giáo dục,0.08,%,Tổng cục thống kê
2015-01-31,2015-01-23,Bưu chính viễn thông,-0.07,%,Tổng cục thống kê

In [ ]:
print("=== Macro.industry_prod ===")
df_ip = macro.industry_prod(start="2015-01", end="2025-04", period="month")
df_ip.head()

=== Macro.industry_prod ===

,last_updated,group_name,name,value,unit,source
report_time,,,,,,
2015-01-31,2015-12-08,Tăng trưởng,Toàn ngành công nghiệp,-2.8,%,None
2015-01-31,2015-12-08,Tăng trưởng,"Cung cấp nước, hoạt động quản lý và xử lý rác ...",1.1,%,None
2015-01-31,2015-12-08,Tăng trưởng,Khai khoáng,-2.3,%,None
2015-01-31,2015-12-08,Tăng trưởng,"Công nghiệp chế biến, chế tạo",-3.3,%,None
2015-01-31,2015-12-08,Tăng trưởng,Sản xuất và Phân phối điện,0.5,%,None

In [ ]:
print("=== Macro.import_export ===")
df_ie = macro.import_export(start="2015-01", end="2025-04", period="month")
df_ie.head()

=== Macro.import_export ===

,last_updated,name,value,unit,source
report_time,,,,,
2015-01-31,2017-11-28,Tổng trị giá Nhập khẩu,13400.0,Triệu USD,Tổng cục thống kê
2015-01-31,2015-06-24,Máy móc thiết bị,664.0,Triệu USD,Tổng cục thống kê
2015-01-31,2015-06-24,Điện tử máy tính,1274.0,Triệu USD,Tổng cục thống kê
2015-01-31,2017-11-28,Thức ăn gia súc,270.0,Triệu USD,Tổng cục thống kê
2015-01-31,2015-06-24,Café,281.0,Triệu USD,Tổng cục thống kê

In [ ]:
print("=== Macro.retail ===")
df_retail = macro.retail(start="2015-01", end="2025-04", period="month")
df_retail.head()

=== Macro.retail ===

,last_updated,name,value,unit,source
report_time,,,,,
2015-01-31,2015-01-27,Tổng,275454.2,Tỷ VNĐ,Tổng cục thống kê
2015-01-31,2015-01-27,Dịch vụ,30761.3,Tỷ VNĐ,Tổng cục thống kê
2015-01-31,2015-01-27,Thương nghiệp,211431.4,Tỷ VNĐ,Tổng cục thống kê
2015-01-31,2015-01-27,Khách sạn nhà hàng,31023.5,Tỷ VNĐ,Tổng cục thống kê
2015-01-31,2015-01-27,Du lịch,2238.0,Tỷ VNĐ,Tổng cục thống kê

In [ ]:
print("=== Macro.fdi ===")
df_fdi = macro.fdi(start="2015-01", end="2025-04", period="month")
df_fdi.head()

=== Macro.fdi ===

,last_updated,group_name,name,value,unit,source
report_time,,,,,,
2015-01-31,2015-02-02,Tổng FDI,Đăng ký,0.66,Tỷ USD,Cục Đầu tư nước ngoài
2015-01-31,2015-02-02,Tổng FDI,Giải ngân,0.50,Tỷ USD,Cục Đầu tư nước ngoài
2015-02-28,2015-03-09,Tổng FDI,Giải ngân,0.70,Tỷ USD,Cục Đầu tư nước ngoài
2015-02-28,2015-03-09,Tổng FDI,Đăng ký,0.53,Tỷ USD,Cục Đầu tư nước ngoài
2015-03-31,2015-07-27,Tổng FDI,Giải ngân,1.85,Tỷ USD,Cục Đầu tư nước ngoài

In [ ]:
print("=== Macro.money_supply ===")
df_ms = macro.money_supply(start="2015-01", end="2025-04", period="month")
df_ms.head()

=== Macro.money_supply ===

,last_updated,name,value,unit,source
report_time,,,,,
2015-01-31,2015-12-20,Tín dụng,3971912.00,Tỷ VNĐ,Ngân hàng Nhà nước Việt Nam
2015-01-31,2015-12-20,Tăng trưởng Cung tiền M2 (YTD)*,0.25,%,Ngân hàng Nhà nước Việt Nam
2015-01-31,2015-12-20,Cung tiền M2,5192194.00,Tỷ VNĐ,Ngân hàng Nhà nước Việt Nam
2015-01-31,2015-12-20,Tăng trưởng tín dụng (YTD)*,0.03,%,Ngân hàng Nhà nước Việt Nam
2015-02-28,2015-07-29,Tăng trưởng Cung tiền M2 (YTD)*,2.49,%,Ngân hàng Nhà nước Việt Nam

In [ ]:
print("=== Macro.exchange_rate ===")
df_fx = macro.exchange_rate(start="2025-01-02", end="2025-04-10", period="day")
df_fx.head()

=== Macro.exchange_rate ===

,last_updated,name,value,unit,source
report_time,,,,,
2025-02-01,2025-01-31,Tỷ giá trung tâm (từ 04/01/2016),24325.0,VNĐ/USD,None
2025-02-01,2025-01-31,Liên ngân hàng,NaN,VNĐ/USD,Ngân hàng Nhà nước Việt Nam
2025-03-01,2025-02-28,Liên ngân hàng,NaN,VNĐ/USD,Ngân hàng Nhà nước Việt Nam
2025-03-01,2025-02-28,Tỷ giá trung tâm (từ 04/01/2016),24726.0,VNĐ/USD,None
2025-04-01,2025-03-31,Tỷ giá trung tâm (từ 04/01/2016),24835.0,VNĐ/USD,None

In [ ]:
print("=== Macro.population_labor ===")
df_pl = macro.population_labor(start="2015-01", end="2025-04", period="year")
df_pl.head()

=== Macro.population_labor ===

,last_updated,name,value,unit,source
report_time,,,,,
2015,2015-12-27,Số lượng lao động,54.61,Triệu người,ADB
2015,2015-12-27,Tỷ lệ thất nghiệp thành thị,3.29,%,ADB
2015,2015-12-27,Tỷ lệ nữ,48.30,%,ADB
2015,2015-12-27,Tỷ lệ nam,51.70,%,ADB
2015,2015-12-27,Tỷ lệ lao động/dân số,59.55,%,ADB

# Commodity

In [28]:
# Single cell to test any CommodityPrice method
from IPython.display import display
from vnstock_data import CommodityPrice

# 1. Instantiate the adapter (adjust start/end dates as needed)
c = CommodityPrice(source="spl", start="2024-01-01", end="2025-04-18", show_log=False)

# 2. Uncomment the method call(s) you want to test:

# df = c.gold_vn()
# df = c.gold_global()
# df = c.gas_vn()
# df = c.oil_crude()
# df = c.gas_natural()
# df = c.coke()
# df = c.steel_d10()
# df = c.iron_ore()
# df = c.steel_hrc()
# df = c.fertilizer_ure()
# df = c.soybean()
# df = c.corn()
# df = c.sugar()
# df = c.pork_north_vn()
# df = c.pork_china()

# 3. Example: test gold_vn()
df = c.gold_vn()
display(df.head())

                buy     sell
time
2024-01-01  72000.0  75000.0
2024-01-02  72500.0  75500.0
2024-01-03  72000.0  75000.0
2024-01-04  72000.0  75000.0
2024-01-07  71000.0  74000.0

In [29]:
# Test all CommodityPrice methods and display their results

from IPython.display import display
from vnstock_data import CommodityPrice

# Instantiate the adapter
c = CommodityPrice(source="spl", start="2024-01-01", end="2025-04-18", show_log=False)

# Define all available methods
methods = [
    "gold_vn",
    "gold_global",
    "gas_vn",
    "oil_crude",
    "gas_natural",
    "coke",
    "steel_d10",
    "iron_ore",
    "steel_hrc",
    "fertilizer_ure",
    "soybean",
    "corn",
    "sugar",
    "pork_north_vn",
    "pork_china",
]

# Execute each method, print its name, and show the first few rows
for method_name in methods:
    print(f"\n=== {method_name}() ===")
    try:
        df = getattr(c, method_name)()
        display(df.head())
    except Exception as e:
        print(f"Error in {method_name}(): {e}")

=== gold_vn() ===

                buy     sell
time
2024-01-01  72000.0  75000.0
2024-01-02  72500.0  75500.0
2024-01-03  72000.0  75000.0
2024-01-04  72000.0  75000.0
2024-01-07  71000.0  74000.0

=== gold_global() ===

                   open         high          low   close    volume
time
2024-01-02  2072.700000  2088.100000  2064.300000  2073.4  157555.0
2024-01-03  2067.900000  2074.300000  2038.300000  2042.8  221680.0
2024-01-04  2049.300000  2058.100000  2043.300000  2050.0  130263.0
2024-01-05  2051.400000  2071.100000  2030.800000  2049.8  214684.0
2024-01-07  2052.600098  2053.300049  2041.699951  2042.5   19511.0

=== gas_vn() ===

            ron95  ron92  oil_do
time
2024-01-01  22.14  21.18   19.78
2024-01-02  22.14  21.18   19.78
2024-01-03  21.91  21.00   19.36
2024-01-04  21.91  21.00   19.36
2024-01-07  21.91  21.00   19.36

=== oil_crude() ===

                 open       high        low      close    volume
time
2024-01-02  71.710000  73.640000  70.060000  70.380000  330992.0
2024-01-03  70.500000  73.230000  69.280000  72.700000  334861.0
2024-01-04  73.040000  74.000000  71.060000  72.190000  344467.0
2024-01-05  72.400000  74.240000  72.210000  73.810000  325525.0
2024-01-07  73.510002  73.949997  72.849998  72.900002   19240.0

=== gas_natural() ===

             open   high    low  close  volume
time
2024-01-02  2.600  2.675  2.520  2.570  7480.0
2024-01-03  2.575  2.720  2.540  2.670  7754.0
2024-01-04  2.685  2.860  2.680  2.820  9360.0
2024-01-05  2.840  2.905  2.680  2.895  8177.0
2024-01-07  2.950  2.963  2.856  2.868  9112.0

=== coke() ===

              open    high     low   close  volume
time
2024-01-02  126.15  126.15  126.15  126.15    76.0
2024-01-03  127.00  127.00  127.00  127.00   143.0
2024-01-04  129.00  129.25  129.00  129.20   146.0
2024-01-05  130.50  130.50  130.50  130.50    75.0
2024-01-08  129.50  129.75  129.50  129.75   163.0

=== steel_d10() ===

            close
time
2024-01-01  14.04
2024-01-02  14.04
2024-01-03  14.04
2024-01-04  14.04
2024-01-07  14.27

=== iron_ore() ===

              open    high     low   close  volume
time
2024-01-02  136.37  136.37  136.37  136.37     0.0
2024-01-03  144.16  144.16  144.16  144.16     0.0
2024-01-04  142.95  142.95  142.95  142.95     0.0
2024-01-05  141.45  141.45  141.45  141.45     0.0
2024-01-08  140.87  140.87  140.87  140.87     0.0

=== steel_hrc() ===

              open    high     low   close  volume
time
2024-01-02  1135.0  1135.0  1125.0  1127.0   396.0
2024-01-03  1127.0  1135.0  1099.0  1120.0   503.0
2024-01-04  1096.0  1110.0  1092.0  1099.0   160.0
2024-01-05  1100.0  1100.0  1076.0  1090.0   472.0
2024-01-08  1086.0  1086.0  1078.0  1080.0   200.0

=== fertilizer_ure() ===

             open   high    low  close  volume
time
2024-01-02  320.0  320.0  320.0  320.0     0.0
2024-01-03  320.0  320.0  320.0  320.0     0.0
2024-01-04  317.5  317.5  317.5  317.5     0.0
2024-01-05  315.0  315.0  315.0  315.0     0.0
2024-01-08  312.5  312.5  312.5  312.5     0.0

=== soybean() ===

               open     high      low    close    volume
time
2024-01-02  1290.50  1290.75  1267.25  1273.50  120524.0
2024-01-03  1273.50  1280.00  1265.75  1277.00  101043.0
2024-01-04  1277.00  1280.75  1265.00  1267.50   90810.0
2024-01-05  1267.25  1271.50  1255.00  1256.25   89364.0
2024-01-08  1258.00  1261.00  1236.00  1245.50  122347.0

=== corn() ===

              open    high     low   close    volume
time
2024-01-02  470.50  470.75  462.50  463.75  187193.0
2024-01-03  464.75  466.00  461.75  465.25  147913.0
2024-01-04  465.00  469.00  463.50  466.50  127034.0
2024-01-05  466.50  467.75  460.00  460.75  151589.0
2024-01-07  461.00  462.50  461.00  461.75    2863.0

=== sugar() ===

             open   high    low  close   volume
time
2024-01-02  20.60  21.38  20.60  20.90  57603.0
2024-01-03  20.90  21.40  20.71  20.85  49170.0
2024-01-04  20.98  21.25  20.86  21.08  37418.0
2024-01-05  21.13  21.21  20.60  21.11  46519.0
2024-01-08  21.11  21.79  21.11  21.74  49428.0

=== pork_north_vn() ===

              close
time
2024-01-01  58300.0
2024-01-02  58300.0
2024-01-03  58300.0
2024-01-04  58300.0
2024-01-05  57800.0

=== pork_china() ===

            close
time
2024-01-06  15.61
2024-01-13  15.35
2024-01-20  15.02
2024-01-27  14.66
2024-02-05  14.65